<section class="mbox wrapper-about">
	<div class="about-desc normal">
		<div class="about-text">
			<div class="title">О компании Royal Rent</div>
			<div class="desc">Являясь крупнейшей в Санкт-Петербурге компанией, предоставляющей транспортные услуги, компания CarsForRent дорожит своим профессиональным сервисом и формирует в городе европейскую культуру транспортных услуг.  Своим клиентам мы предоставляем в пользование широкий выбор автомобилей, которые соответствуют их статусу и требованиям. Мы гордимся тем, что число наших клиентов растет и мы превращаемся в своего рода клуб успешных людей, стиль жизни которых подчеркивается нашими автомобилями.</div>
		</div>
		<div class="picture"><img src="../images/key_about.png" alt=""></div>
	</div>
	<div class="about-desc reverse">
		<div class="about-text">
			<div class="title">Наши преимущества</div>
			<div class="desc-desc">Профессионализм, четкая координация, забота о каждом клиенте — вот что делает нашу компанию по-настоящему надежным партнером, настроенным на продолжительное сотрудничество.</div>
			<div class="desc-desc">Наш автопарк располагает автомобилями разной вместимости. Можно подобрать машину, которая бы подчеркивала ваш статус, ваше настроение или же наиболее открыто высказывала бы ваше уважение к партнерам, которых вы встречайте в аэропорту или на вокзале. И вам не нужно думать о покупке машины для вашей компании, ее обслуживании, страховке. Все это — мы берем на себя. Поскольку мы всегда рады, когда наши клиенты, опробовав наши автомобили, подписывают с нами договоры о продолжительном сотрудничестве.</div>
		</div>
		<div class="picture"><img src="../images/car_about.png" alt=""></div>
	</div>
</section>
<section class="mbox wrap-clients">
	<div class="clients-title">Наши клиенты</div>
	<div class="logos">
		<div class="logo-item"><img src="../images/c_1.png" alt=""></div>
		<div class="logo-item"><img src="../images/c_2.png" alt=""></div>
		<div class="logo-item"><img src="../images/c_3.png" alt=""></div>
		<div class="logo-item"><img src="../images/c_4.png" alt=""></div>
		<div class="logo-item"><img src="../images/c_5.png" alt=""></div>
		<div class="logo-item"><img src="../images/c_6.png" alt=""></div>
	</div>
</section>