<section class="mbox event-order">
	<div class="book-title">Оформление заказа</div>
	<div class="tariffs">
		<div class="tarif-title">Выберите тариф:</div>
		<div class="el-tariffs">
			<div class="tarif-item js-tariff">
				<p>1-2 человека</p>
				<div class="item">
					<div class="price">5 650 руб.</div>
					<img src="../images/comfort.png" alt="">
					<div class="car">Комфорт</div>
				</div>
			</div>
			<div class="tarif-item js-tariff">
				<p>1-2 человека</p>
				<div class="item">
					<div class="price">6 650 руб.</div>
					<img src="../images/business.png" alt="">
					<div class="car">Бизнес</div>
				</div>
			</div>
			<div class="tarif-item js-tariff">
				<p>3-7 человека</p>
				<div class="item">
					<div class="price">6 650 руб.</div>
					<img src="../images/van.png" alt="">
					<div class="car">Минивен</div>
				</div>
			</div>
			<div class="tarif-item js-tariff">
				<p>7-22 человек</p>
				<div class="item">
					<div class="price">5 850 руб.</div>
					<img src="../images/bus.png" alt="">
					<div class="car">Микроавтобусы</div>
				</div>
			</div>
			<div class="tarif-item js-tariff">
				<p>8-22 человек</p>
				<div class="item">
					<div class="price">Индивидуально</div>
					<img src="../images/bus.png" alt="">
					<div class="car">Автобусы</div>
				</div>
			</div>
		</div>
		<div class="tariffs-description">
			<div class="include">
				<p>В стоимость включено:</p>
				<ul>
					<li>- Услуги профессионального гида-экскурсовода (из расчёта минимальной продолжительности 3 часа);</li>
					<li>- Аренда автомобиля соответствующей категории (из расчёта - Минимальной продолжительности 3 часа);</li>
					<li>- Услуги водителя.</li>
				</ul>
				<p>Дополнительно оплачиваются:</p>
				<ul>
					<li>- Билеты в музеи.</li>
				</ul>
			</div>
			<div class="prompts">
				<p>Цена действительна для экскурсии на русском и английском языке.</p>
				<p>Стоимость экскурсии на других языках и для группы большего размера уточняйте у наших менеджеров.</p>
				<p>Экскурсия также может быть проведена на автомобилях представительского класса или на вашем автомобиле с уменьшением стоимости.</p>
			</div>
		</div>
	</div>
	<div class="order-info">
		<div class="info-title">Информация о заказе</div>
		<form action="">
			<div class="order">
				<div class="order-item">
					<p>Как вас зовут</p>
					<input type="text" class="name" placeholder="Ваше имя">
				</div>
				<div class="order-item">
					<p>Контактный телефон</p>
					<input type="text" id="phone" class="name" placeholder="Ваш телефон">
				</div>
				<div class="order-item">
					<p>Желаемые дата и время</p>
					<input type="text" class="name">
				</div>
			</div>
			<input type="submit" class="el-button submit" value="Подтвердить">
		</form>
	</div>
</section>