<section class="mbox event-order">
  <div class="book-title">Оформление заказа</div>
  <div class="tariffs">
    <div class="tarif-title">Выберите тариф:</div>
    <div class="el-tariffs">
      <div class="tarif-item js-tariff">
        <p>Sweet</p>
        <div class="item">
          <div class="price">23 650 руб.
          <br>вск-чт</div>
          <div class="car"><a href="#">Описание тарифа</a></div>
        </div>
      </div>
      <div class="tarif-item js-tariff">
        <p>Sweet</p>
        <div class="item">
          <div class="price">23 650 руб.
          <br>вск-чт</div>
          <div class="car"><a href="#">Описание тарифа</a></div>
        </div>
      </div>
    </div>
    <div class="tariffs-description">
      <div class="include">
        <p>Дополнительно у менеджера вы можете заказать:</p>
        <ul>
          <li>- Пользование баром на яхте (за дополнительную плату);</li>
          <li>- Ужин на яхте от ресторана «Паруса» (депозит — 4000 руб.);</li>
          <li>- Полет на вертолете с вылетом и посадкой  в яхт клубе;</li>
          <li>- Трехчасовая прогулка на шикарном автомобиле на выбор</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="order-info">
    <div class="info-title">Информация о заказе</div>
    <form action="">
      <div class="order">
        <div class="order-item">
          <p>Как вас зовут</p>
          <input type="text" class="name" placeholder="Ваше имя">
        </div>
        <div class="order-item">
          <p>Контактный телефон</p>
          <input type="text" class="name" placeholder="Ваш телефон">
        </div>
        <div class="order-item">
          <p>Желаемые дата и время</p>
          <input type="text" class="name">
        </div>
      </div>
      <input type="submit" class="el-button submit" value="Подтвердить">
    </form>
  </div>
</section>