<section class="business-travel">
  <div class="mbox">
    <div class="business-travel-wrap">
      <h1>Деловые поездки в Санкт-Петербург</h1>
      <p>Наивысший уровень обслуживания от надежной компании. Будьте с лучшими.</p>
      <a class="el-button corp-contract-link" href="#corp-contract">Стать корпоративным клиентом</a>
    </div>
    <div class="business-travel-pic">
      <img src="images/business-travel.png" alt="">
      <a class="mouse" href="#">
        <span class="dot"></span>
      </a>
    </div>
  </div>
</section>


<section class="types-service">
  <div class="mbox">
  <h2>Виды обслуживания при организации деловых поездок</h2>
  <div class="types-service-row">
    <div class="types-service-item">
      <div class="types-service-pic">
        <img src="images/circle-icon1.png" alt="1">
      </div>
      <p>Бронирование и покупка авиа, железнодорожных, автобусных билетов до Санкт-Петербурга.</p>
    </div>
    <div class="types-service-item">
      <div class="types-service-pic">
        <img src="images/circle-icon2.png" alt="2">
      </div>
      <p>Бронирование номеров и размещение в гостиницах, отелях, мини-отелях, коттеджах Санкт-Петербурга и Ленинградской области.</p>
    </div>
    <div class="types-service-item">
      <div class="types-service-pic">
        <img src="images/circle-icon3.png" alt="3">
      </div>
      <p>Бронирование комнат и квартир на сутки.</p>
    </div>
    <div class="types-service-item">
      <div class="types-service-pic">
        <img src="images/circle-icon4.png" alt="4">
      </div>
      <p>Трансфер аэропорт – город, вокзал – город, город – город.</p>
    </div>
    <div class="types-service-item">
      <div class="types-service-pic">
        <img src="images/circle-icon5.png" alt="5">
      </div>
      <p>Транспортное обслуживание: предоставление автомобильного транспорта с водителем (легковые автомобили, минивены, микроавтобусы и автобусы разной классности и вместимости).</p>
    </div>
    <div class="types-service-item">
      <div class="types-service-pic">
        <img src="images/circle-icon6.png" alt="6">
      </div>
      <p>Подбор места для переговоров и встреч: аренда конференц-залов, выставочных залов и комплексов, переговорных комнат.</p>
    </div>
    <div class="types-service-item">
      <div class="types-service-pic">
        <img src="images/circle-icon7.png" alt="7">
      </div>
      <p>Предоставление услуг переводчиков и гидов (практически все языки).</p>
    </div>
    <div class="types-service-item">
      <div class="types-service-pic">
        <img src="images/circle-icon8.png" alt="8">
      </div>
      <p>Экскурсии по Петербургу и пригородам, билеты в театр, посещение музеев.</p>
    </div>
  </div>
  <a class="el-button corp-contract-link" href="#corp-contract">Стать корпоративным клиентом</a>
</section>

<section class="transport-services">
  <div class="mbox">
    <h2>Автотранспортное обслуживание</h2>
    <div class="transport-services-wrap">
      <div class="transport-services-left">
        <form action="/" method="post">
          <div class="form-field">
            <span>Вид транспорта</span>
            <select id="typeTransport" class="choose" name="typeTransport">
              <option>Легковой</option>
              <option>Пункт 2</option>
              <option>Пункт 3</option>
              <option>Пункт 4</option>
            </select>
          </div>
          <div class="form-field">
            <span>Марка</span>
            <select id="markTransport" class="choose" name="markTransport">
              <option>BMW</option>
              <option>Пункт 2</option>
              <option>Пункт 3</option>
              <option>Пункт 4</option>
            </select>
          </div>
          <div class="form-field">
            <span>Модель</span>
            <select id="modelTransport" class="choose" name="modelTransport">
              <option>3er (F10)</option>
              <option>Пункт 2</option>
              <option>Пункт 3</option>
              <option>Пункт 4</option>
            </select>
          </div>
        </form>
      </div>
      <div class="transport-services-center">
        <div class="transport-services-pic">
          <img src="images/types-service-car.jpg" alt="">
        </div>
        <p>Минимальный заказ — 3 часа</p>
        <p>Стоимость — от 3 000 руб. в час</p>
        <div class="transport-services-color">
          <a class="white" href="#"></a>
          <a class="black" href="#"></a>
          <a class="blue" href="#"></a>
          <a class="red" href="#"></a>
          <a class="green" href="#"></a>
        </div>
        <a class="transport-services-btn el-button corp-contract-link" href="#corp-contract">Стать корпоративным клиентом</a>
      </div>
      <div class="transport-services-right">
        <span>Примечание:</span>
        <ul>
          <li>За подачу и возвращение автотранспорта в парк, дополнительно к тарифу оплачивается: 1 час обслуживания – за каждый автомобиль или микроавтобус; 2 часа – за каждый автобус;</li>
          <li>При поездках за МКАД (кроме трансферов) тарифы увеличиваются - по запросу;</li>
          <li>По отдельному запросу возможно предоставление дополнительного автотранспорта, в том числе представительского класса;</li>
          <li>Стоимость парковок автотранспорта оплачивается дополнительно.</li>
        </ul>
      </div>
    </div>
  </div>
</section>