<section class="business-taxi">
  <div class="mbox">
    <div class="el-info">
      <div class="info-left">
        <h2>Бизнес такси</h2>
        <div class="el-info-text">
          <p>Аренда автомобиля в Санкт-Петербурге с нами значительно упрощается, ведь авто можно забронировать онлайн, открыв соответствующую вкладку на сайте. Вам будет предложено выбрать категорию услуги (с водителем или без, кабриолет, лимузин, микроавтобус), дату, имя и е-мейл. В графе «Ваши пожелания» вы можете оставить информацию об особенностях заказа.</p>
          <p>Вы можете рассчитать предварительно заказ на специальном онлайн калькуляторе, выбрав вид аренды (с водителем или без него), модель авто и сроки аренды посуточно.</p>
        </div>
        <a class="el-button calc-button" href="#">Рассчитать стоимость аренды</a>
      </div>
      <div class="info-right">
        <div class="info-pic business-taxi-pic">
          <img src="images/business-taxi.png" alt="">
        </div>
      </div>
    </div> 
  </div> 
</section>