<section class="car-pmef">
  <div class="mbox">
    <div class="el-info">
      <div class="info-left">
        <h2>ПМЭФ</h2>
        <div class="el-info-text">
          <p>Самый долгожданный праздник в году именинник продумывает заранее. Для кого-то важно провести день рождения с близкими в уютной компании, а кто-то организует роскошный вечер для большого количества гостей. Концепция торжества может быть самой разнообразной, но есть уже ставший традиционным пункт программы – катание по городу на авто. Заказ машины на день рождения – услуга, которая теперь тоже своего рода традиция у многих петербуржцев и тех, кто решил встретить этот день в Петербурге.</p>

          <p>Для Вас на выбор любой авто на Юбилей – различные кабриолеты, ретро автомобили, просторные внедорожники или эксклюзивная машина на заказ определенного класса, также катера, яхты, вертолеты.</p>
        </div>
        <a class="el-button fancybox-form" href="#call-popup">Оформить заявку</a>
      </div>
      <div class="info-right">
        <div class="info-pic car-pmef-pic">
          <img src="images/ipad_pmef.png" alt="">
        </div>
      </div>
    </div> 
  </div> 
</section>