<section class="car-taxi">
  <div class="mbox">
    <div class="car-taxi-text">
      <h1>Аренда автомобиля для работы в такси в Санкт-Петербурге</h1>
      <p>Аренда автомобилей с выкупом (раскат, лизинг транспорта физлицам) — это основная специализация транспортной компании LENBA в Санкт-Петербурге. Технически исправный новый автомобиль в долгосрочную аренду в СПб Вы можете получить у нас с минимальным первым взносом в день обращения или по предварительной брони.</p>
      <a class="el-button fancybox-form" href="#call-popup">Оформить заявку</a>
    </div>
    <div class="car-taxi-pic">
      <img src="images/taxi.png" alt="Taxi">
      <a class="mouse" href="#">
        <span class="dot"></span>
      </a>
    </div>
  </div>
</section>  

<section class="car-taxi-content">
  <div class="mbox">
    <div class="advantages">
      <h2>Преимущества при аренде автомобиля в RoyalRent</h2>
      <div class="advantages-row">
        <div class="advantages-item">
          <div class="advantages-pic">
            <img src="images/time.png" alt="">
          </div>
          <p>Первый день аренды бесплатно</p>
        </div>
        <div class="advantages-item">
          <div class="advantages-pic">
            <img src="images/kasko.png" alt="">
          </div>
          <p>Все машины имеют лицензию</p>
        </div>
        <div class="advantages-item">
          <div class="advantages-pic">
            <img src="images/TO.png" alt="">
          </div>
          <p>Т.О., страховка и ремонт за счет компании</p>
        </div>
        <div class="advantages-item">
          <div class="advantages-pic">
            <img src="images/eye.png" alt="">
          </div>
          <p>Автомобиль находится у вас постоянно, показ
          авто раз в неделю</p>
        </div>
        <div class="advantages-item">
          <div class="advantages-pic">
            <img src="images/purse.png" alt="">
          </div>
          <p>Стоимость недели 
          аренды от 8600 руб.</p>
        </div>
        <div class="advantages-item">
          <div class="advantages-pic">
            <img src="images/terminal.png" alt="">
          </div>
          <p>Оплата через терминалы, либо наличными</p>
        </div>
        <div class="advantages-item">
          <div class="advantages-pic">
            <img src="images/orders.png" alt="">
          </div>
          <p>Возможно полное обеспечение заказами</p>
        </div>
        <div class="advantages-item">
          <div class="advantages-pic">
            <img src="images/doc.png" alt="">
          </div>
          <p>Выдаются квитанции и путевые листы</p>
        </div>
      </div>
      <a class="el-button fancybox-form" href="#call-popup">Оформить заявку</a>
    </div>
    <div class="terms-work">
      <h2>Условия работы с нами</h2>
      <div class="terms-work-row">
        <div class="terms-work-item">
          <div class="terms-work-pic">
            <img src="images/circle-icon1.png" alt="">
          </div>
          <p>Прописка СПб или ЛО, возраст от 23 лет, стаж вождения от 3 лет</p>
        </div>
        <div class="terms-work-item">
          <div class="terms-work-pic">
            <img src="images/circle-icon2.png" alt="">
          </div>
          <p>Отсутствие лишений прав</p>
        </div>
        <div class="terms-work-item">
          <div class="terms-work-pic">
            <img src="images/circle-icon3.png" alt="">
          </div>
          <p>Отсутствие патологической тяги к алкоголю</p>
        </div>
        <div class="terms-work-item">
          <div class="terms-work-pic">
            <img src="images/circle-icon4.png" alt="">
          </div>
          <p>Авто предоставляются для использования на территории Санкт-Петербурга и Ленинградской области</p>
        </div>
        <div class="terms-work-item">
          <div class="terms-work-pic">
            <img src="images/circle-icon5.png" alt="">
          </div>
          <p>Аренда - с выкупом или без выкупа для работы в службах такси Петербурга</p>
          <p>Возможное полное обеспечение заказами от "Такси777".</p>
        </div>
      </div>
      <a class="el-button fancybox-form" href="#call-popup">Оформить заявку</a>
    </div>
    <div class="car-park">
      <h2>Автопарк для аренды под такси</h2>
      <div class="car-park-wrap">
        <div class="car-park-top">
          <div class="car-park-table">
            <div class="table-header">
              <div class="column">Автомобиль</div>
              <div class="column">Кузов</div>
              <div class="column">Год выпуска</div>
              <div class="column">Стоимость</div>
            </div>
            <div class="table-body">
              <div class="table-row">
                <div class="table-col">Chevrolet Aveo черный</div>
                <div class="table-col">седан</div>
                <div class="table-col">2016</div>
                <div class="table-col">2 000 р./сут.</div>
              </div>
              <div class="table-row">
                <div class="table-col">Infoooo</div>
                <div class="table-col">Info</div>
                <div class="table-col">Info</div>
                <div class="table-col">Info</div>
              </div>
              <div class="table-row">
                <div class="table-col">Infoooo</div>
                <div class="table-col">Info</div>
                <div class="table-col">Info</div>
                <div class="table-col">Info</div>
              </div>
              <div class="table-row">
                <div class="table-col">Infoooo</div>
                <div class="table-col">Info</div>
                <div class="table-col">Info</div>
                <div class="table-col">Info</div>
              </div>
              <div class="table-row">
                <div class="table-col">Infoooo</div>
                <div class="table-col">Info</div>
                <div class="table-col">Info</div>
                <div class="table-col">Info</div>
              </div>
            </div>
          </div>
        </div>
        <div class="car-park-bottom">
          <div class="car-park-text">
            <p>Автомобили в прекрасном состоянии, чистые, исправные и ухоженные. Машина предоставляется со всем необходимым для работы в такси: лицензия такси (разрешение комитета по транспорту Санкт-Петербурга), техосмотр такси (диагностическая карта), колпак (фонарь) такси и детское кресло-бустер.</p>
            <p>Мы приглашаем  к сотрудничеству водителей, которые будут бережно и уважительно относиться к инструменту, которым зарабатывают деньги – к машине компании Arenda.taxi . Мы ценим своих водителей – опытных, порядочных и добросовестных. Ценим и стараемся создать для Вас максимально комфортные условия</p>
          </div>
          <a class="el-button fancybox-form" href="#call-popup">Оформить заявку</a>
        </div>
      </div>
    </div>
  </div>
</section>