<section class="mbox recomended-cars">
	<div class="recom-title">Рекомендуем посмотреть эти автомобили:</div>
	<div class="all-cars all-cars-slider">
		<div class="car-item">
			<div class="sale">
				<span>скидка</span>
				<span><b>35</b>%</span>
			</div>
			<div class="photo"><img src="../images/bmw.png" alt=""></div>
			<a href="#photo-slider" class="view-photo">
				<span><img src="../images/pic-icon.png" alt=""></span>
				<span>Посмотреть реальные фото</span>
			</a>
			<p>BMW 3er</p>
			<p>от 3 000 руб. в час</p>
			<div class="colors">
				<div class="color white"></div>
				<div class="color black"></div>
				<div class="color blue"></div>
				<div class="color red"></div>
				<div class="color green"></div>
			</div>
			<a href="step1_driver.html" class="el-button">Взять в аренду</a>
		</div>
		<div class="car-item">
			<div class="photo"><img src="../images/rolls-roys.png" alt=""></div>
			<a href="#photo-slider" class="view-photo fancybox-form">
				<span><img src="../images/pic-icon.png" alt=""></span>
				<span>Посмотреть реальные фото</span>
			</a>
			<p>BMW 3er</p>
			<p>от 3 000 руб. в час</p>
			<div class="colors">
				<div class="color white"></div>
				<div class="color black"></div>
			</div>
			<a href="step1_driver.html" class="el-button">Взять в аренду</a>
		</div>
		<div class="car-item">
			<div class="photo"><img src="../images/bmw.png" alt=""></div>
			<a href="#photo-slider" class="view-photo fancybox-form">
				<span><img src="../images/pic-icon.png" alt=""></span>
				<span>Посмотреть реальные фото</span>
			</a>
			<p>BMW 3er</p>
			<p>от 3 000 руб. в час</p>
			<div class="colors">
				<div class="color white"></div>
				<div class="color black"></div>
				<div class="color blue"></div>
				<div class="color red"></div>
				<div class="color green"></div>
			</div>
			<a href="step1_driver.html" class="el-button">Взять в аренду</a>
		</div>
		<div class="car-item">
			<div class="sale">
				<span>скидка</span>
				<span><b>35</b>%</span>
			</div>
			<div class="photo"><img src="../images/bmw.png" alt=""></div>
			<a href="#photo-slider" class="view-photo fancybox-form">
				<span><img src="../images/pic-icon.png" alt=""></span>
				<span>Посмотреть реальные фото</span>
			</a>
			<p>BMW 3er</p>
			<p>от 3 000 руб. в час</p>
			<div class="colors">
				<div class="color white"></div>
				<div class="color black"></div>
				<div class="color blue"></div>
				<div class="color red"></div>
				<div class="color green"></div>
			</div>
			<a href="step1_driver.html" class="el-button">Взять в аренду</a>
		</div>
		<div class="car-item">
			<div class="photo"><img src="../images/rolls-roys.png" alt=""></div>
			<a href="#photo-slider" class="view-photo fancybox-form">
				<span><img src="../images/pic-icon.png" alt=""></span>
				<span>Посмотреть реальные фото</span>
			</a>
			<p>BMW 3er</p>
			<p>от 3 000 руб. в час</p>
			<div class="colors">
				<div class="color white"></div>
				<div class="color black"></div>
			</div>
			<a href="step1_driver.html" class="el-button">Взять в аренду</a>
		</div>
		<div class="car-item">
			<div class="photo"><img src="../images/bmw.png" alt=""></div>
			<a href="#photo-slider" class="view-photo fancybox-form">
				<span><img src="../images/pic-icon.png" alt=""></span>
				<span>Посмотреть реальные фото</span>
			</a>
			<p>BMW 3er</p>
			<p>от 3 000 руб. в час</p>
			<div class="colors">
				<div class="color white"></div>
				<div class="color black"></div>
				<div class="color blue"></div>
				<div class="color red"></div>
				<div class="color green"></div>
			</div>
			<a href="step1_driver.html" class="el-button">Взять в аренду</a>
		</div>
	</div>
	<div class="prev"><img src="../images/prev.png" alt=""></div>
	<div class="next"><img src="../images/next.png" alt=""></div>
</section>
<section class="mbox watched-cars">
	<div class="recom-title">Ранее просмотренный транспорт:</div>
	<div class="all-cars all-cars-watched">
		<div class="car-item">
			<div class="sale">
				<span>скидка</span>
				<span><b>35</b>%</span>
			</div>
			<div class="photo"><img src="../images/bmw.png" alt=""></div>
			<a href="#photo-slider" class="view-photo">
				<span><img src="../images/pic-icon.png" alt=""></span>
				<span>Посмотреть реальные фото</span>
			</a>
			<p>BMW 3er</p>
			<p>от 3 000 руб. в час</p>
			<div class="colors">
				<div class="color white"></div>
				<div class="color black"></div>
				<div class="color blue"></div>
				<div class="color red"></div>
				<div class="color green"></div>
			</div>
			<a href="step1_driver.html" class="el-button">Взять в аренду</a>
		</div>
		<div class="car-item">
			<div class="photo"><img src="../images/rolls-roys.png" alt=""></div>
			<a href="#photo-slider" class="view-photo fancybox-form">
				<span><img src="../images/pic-icon.png" alt=""></span>
				<span>Посмотреть реальные фото</span>
			</a>
			<p>BMW 3er</p>
			<p>от 3 000 руб. в час</p>
			<div class="colors">
				<div class="color white"></div>
				<div class="color black"></div>
			</div>
			<a href="step1_driver.html" class="el-button">Взять в аренду</a>
		</div>
		<div class="car-item">
			<div class="photo"><img src="../images/bmw.png" alt=""></div>
			<a href="#photo-slider" class="view-photo fancybox-form">
				<span><img src="../images/pic-icon.png" alt=""></span>
				<span>Посмотреть реальные фото</span>
			</a>
			<p>BMW 3er</p>
			<p>от 3 000 руб. в час</p>
			<div class="colors">
				<div class="color white"></div>
				<div class="color black"></div>
				<div class="color blue"></div>
				<div class="color red"></div>
				<div class="color green"></div>
			</div>
			<a href="step1_driver.html" class="el-button">Взять в аренду</a>
		</div>
		<div class="car-item">
			<div class="sale">
				<span>скидка</span>
				<span><b>35</b>%</span>
			</div>
			<div class="photo"><img src="../images/bmw.png" alt=""></div>
			<a href="#photo-slider" class="view-photo fancybox-form">
				<span><img src="../images/pic-icon.png" alt=""></span>
				<span>Посмотреть реальные фото</span>
			</a>
			<p>BMW 3er</p>
			<p>от 3 000 руб. в час</p>
			<div class="colors">
				<div class="color white"></div>
				<div class="color black"></div>
				<div class="color blue"></div>
				<div class="color red"></div>
				<div class="color green"></div>
			</div>
			<a href="step1_driver.html" class="el-button">Взять в аренду</a>
		</div>
		<div class="car-item">
			<div class="photo"><img src="../images/rolls-roys.png" alt=""></div>
			<a href="#photo-slider" class="view-photo fancybox-form">
				<span><img src="../images/pic-icon.png" alt=""></span>
				<span>Посмотреть реальные фото</span>
			</a>
			<p>BMW 3er</p>
			<p>от 3 000 руб. в час</p>
			<div class="colors">
				<div class="color white"></div>
				<div class="color black"></div>
			</div>
			<a href="step1_driver.html" class="el-button">Взять в аренду</a>
		</div>
		<div class="car-item">
			<div class="photo"><img src="../images/bmw.png" alt=""></div>
			<a href="#photo-slider" class="view-photo fancybox-form">
				<span><img src="../images/pic-icon.png" alt=""></span>
				<span>Посмотреть реальные фото</span>
			</a>
			<p>BMW 3er</p>
			<p>от 3 000 руб. в час</p>
			<div class="colors">
				<div class="color white"></div>
				<div class="color black"></div>
				<div class="color blue"></div>
				<div class="color red"></div>
				<div class="color green"></div>
			</div>
			<a href="step1_driver.html" class="el-button">Взять в аренду</a>
		</div>
	</div>
	<div class="prev-watched"><img src="../images/prev.png" alt=""></div>
	<div class="next-watched"><img src="../images/next.png" alt=""></div>
</section>