<section class="contacts">
  <div class="mbox">
    <div class="contacts-wrap">
      <div class="contacts-left">
        <div class="contacts-title">
          <h2>Мы всегда рядом</h2>
          <span>Есть много способов, чтобы связаться с нами</span>
        </div>
        <div class="contacts-address">
          <p>Cанкт-Петербург</p>
          <a href="tel:88000000000">т: 8 800 000-00-00</a>
          <a href="mailto:info@royalrent.ru">e: info@royalrent.ru</a>
          <h3>Пункты выдачи:</h3>
          <ol>
            <li>Площадь Островского, д.9</li>
            <li>Площадь Островского, д.9</li>
          </ol>
        </div>
        <div class="requisites">
          <h4>Реквизиты организации:</h4>
          <p>
            ООО «Технология»<br>
            ИНН: 7840040026<br>
            Адрес почтовый: 191001, Россия, Санкт-Петербург, площадь Островского, д.9 , кв. 37<br>
            Адрес юридический: 191001, Россия, Санкт-Петербург, площадь Островского, д.9 , кв. 37<br>
            Банк: АО «Райффайзенбанк» филиал «Северная столица»<br>
            Р/Сч: №: 40702810503000006392<br>
            К/сч: №: 30101810100000000723<br>
            БИК: 044030723<br>
            ОГРН: 1157847327263<br>
            ОКПО: 27487007<br>
            ОКТМО: 40909000<br>
          </p>
        </div>
      </div>
      <div class="contacts-right">
        <h3>Пишите нам!</h3>
        <form class="contacts-form" action="ajax-programer.php" method="post">
          <div class="form-field">
            <input type="text" name="contact_name" placeholder="Ваше имя" required />
          </div>
          <div class="form-field">
            <input type="email" name="contact_email" placeholder="Ваш e-mail" required />
          </div>
          <div class="form-field">
            <textarea name="contact_message" placeholder="Сообщение..." required></textarea>
          </div>
          <button class="el-button" type="submit">Отправить</button>
        </form>
      </div>
    </div>
  </div>
  <div id="map"></div>
</section>