<section class="mbox cooperations">
	<div class="title-cooperations">Приглашаем к сотрудничеству с нашей компанией</div>
	<div class="coop-advantages">Возможность начать невероятно интересный бизнес <br>с минимальными инвестициями. Для амбициозных людей, которым нравится динамичный образ жизни, которые любят автомобили и имеют деловую хватку.</div>
	<div class="cooperation-people-pic">
		<a class="mouse" href="#">
	      <span class="dot"></span>
	    </a>
		<img src="../images/people.png" alt="">
	</div>
</section>