<section class="mbox wrap-work wrap-work-more" id="mbox">
    <div class="work-title">Условия работы с нами</div>
    <div class="wrap-pluses">
        <div class="item-plus">
            <img src="../images/circle-icon1.png" alt="">
            <div class="plus-desc">Наша компания занимает одну из лидирующих позиций на рынке проката автомобилей и гарантирует Вам надёжное сотрудничество</div>
        </div>
        <div class="item-plus">
            <img src="../images/circle-icon2.png" alt="">
            <div class="plus-desc">Многолетняя практика показывает, что наши клиенты относятся к автомобилю как к своему</div>
        </div>
        <div class="item-plus">
            <img src="../images/circle-icon3.png" alt="">
            <div class="plus-desc">Все риски застрахованы в полном объеме</div>
        </div>
        <div class="item-plus">
            <img src="../images/circle-icon4.png" alt="">
            <div class="plus-desc">Мы следим за техническим состоянием Вашего автомобиля и поддерживаем его на должном уровне</div>
        </div>
        <div class="item-plus">
            <img src="../images/circle-icon5.png" alt="">
            <div class="plus-desc">Наш многолетний опыт работы в автопрокате гарантирует Вам постоянный доход</div>
        </div>
    </div>
    <a class="el-button fancybox-form" href="#order-call">Оформить заявку</a>
</section>
<section class="mbox wrap-work">
    <div class="work-title">Начать бизнес с нами проще, чем Вы думаете</div>
    <div class="wrap-pluses">
        <div class="item-plus">
            <img src="../images/kasko.png" alt="">
            <div class="plus-desc">Отправляете нам заявку</div>
        </div>
        <div class="item-plus">
            <img src="../images/doc.png" alt="">
            <div class="plus-desc">Мы заключаем с вами договор</div>
        </div>
        <div class="item-plus">
            <img src="../images/money.png" alt="">
            <div class="plus-desc">Стоимость недели аренды от 8600 руб.</div>
        </div>
    </div>
    <a class="el-button fancybox-form" href="#order-call">Оформить заявку</a>
</section>
<section class="mbox wrap-work">
    <div class="work-title">Узнайте сколько зарабатывает ваш автомобиль</div>
    <div class="wrap-auto">
        <select name="auto" id="auto" data-placeholder="Модель автомобиля">
            <option></option>
            <option>Mercedes-bens</option>
            <option>Mercedes-bens</option>
            <option>Mercedes-bens</option>
            <option>Mercedes-bens</option>
            <option>Mercedes-bens</option>
        </select>
        <select name="auto" id="auto-type" data-placeholder="Марка автомобиля">
            <option></option>
            <option>Viano</option>
            <option>Viano</option>
            <option>Viano</option>
            <option>Viano</option>
            <option>Viano</option>
        </select>
    </div>
    <div class="call-us">Не нашли в списке свой автомобиль? <a href="#"> Позвоните нам!</a></div>
    <div class="wrap-car">
        <img src="../images/primery.png" alt="">
        <div class="about-car">
            <div class="wrap-text">
                <span class="text">Доход в сутки:</span>
                <span class="text">Доход в месяц:</span>
                <span class="text">Доход за год:</span>
            </div>
            <div class="wrap-prices">
                <div class="day">
                    <span class="price">2 066</span>
                    <span class="letter"> р.</span>
                </div>
                <div class="month">
                    <span class="price">62 066</span>
                    <span class="letter"> р.</span>
                </div>
                <div class="year">
                    <span class="price">762 066</span>
                    <span class="letter"> р.</span>
                </div>
            </div>
        </div>
    </div>
</section>
