<section class="credit">
  <div class="mbox">
    <div class="credit-spb">
      <h1>Кредит на аренду автомобиля в Санкт-Петербурге</h1>
      <p>Теперь Вы имеете возможность взять в аренду с водителем понравившийся Вам автомобиль, на нашем сайте в кредит, воспользовавшись партнерством нашей компании с системой «Биржа Кредитов». Решение о выдаче кредита Вы получите, не выходя из дома в кратчайшие сроки! Данная услуга доступна на всей территории Российской Федерации.</p>
      <a class="el-button fancybox-form" href="#call-popup">Оформить заявку</a>
    </div>
    <div class="credit-cart-pic">
      <img src="images/credit-cart.png" alt="Credit Cart">
      <a class="mouse" href="#">
        <span class="dot"></span>
      </a>
    </div>
  </div>
</section>

<section class="credit-content">
  <div class="mbox">
    <div class="few-steps">
      <h2>Кредит на аренду автомобиля в несколько шагов</h2>
      <div class="few-steps-wrap">
        <div class="few-steps-item">
          <div class="few-steps-pic">
            <img src="images/circle-icon1.png" alt="1">
          </div>
          <p>Рассчитать у администратора нашей компании стоимость оказания автотранспортных услуг.</p>
        </div>
        <div class="few-steps-item">
          <div class="few-steps-pic">
            <img src="images/circle-icon2.png" alt="2">
          </div>
          <p>Сообщить администратору нашей компании о желании оплатить услуги аренды кредитными средствами.</p>
        </div>
        <div class="few-steps-item">
          <div class="few-steps-pic">
            <img src="images/circle-icon3.png" alt="3">
          </div>
          <p>С Вами свяжется оператор Биржи Кредитов для полного заполнения анкеты и направит ее в банки на рассмотрения.</p>
        </div>
        <div class="few-steps-item">
          <div class="few-steps-pic">
            <img src="images/circle-icon4.png" alt="4">
          </div>
          <p>Далее, Вам останется только подписать договор, заказав кредитные документы доставкой курьерской службой «Биржи Кредитов», либо в офисе «Биржи Кредитов».</p>
        </div>
        <div class="few-steps-item">
          <div class="few-steps-pic">
            <img src="images/circle-icon5.png" alt="5">
          </div>
          <p>После подписания кредитного договора мы предоставим Вам в аренду заказанный транспорт.</p>
        </div>
      </div>
      <a class="el-button fancybox-form" href="#call-popup">Оформить заявку</a>
    </div>
    <div class="credit-banks">
      <h2>«Биржа Кредитов» сотрудничет со следующими банками:</h2>
      <div class="credit-banks-row">
        <div class="credit-banks-item">
          <a href="#"><img src="images/bank-logo1.png" alt=""></a>
        </div>
        <div class="credit-banks-item">
          <a href="#"><img src="images/bank-logo2.png" alt=""></a>
        </div>
        <div class="credit-banks-item">
          <a href="#"><img src="images/bank-logo3.png" alt=""></a>
        </div>
        <div class="credit-banks-item">
          <a href="#"><img src="images/bank-logo4.png" alt=""></a>
        </div>
        <div class="credit-banks-item">
          <a href="#"><img src="images/bank-logo5.png" alt=""></a>
        </div>
        <div class="credit-banks-item">
          <a href="#"><img src="images/bank-logo6.png" alt=""></a>
        </div>
      </div>
      <p>Стоимость услуг «Биржи Кредитов» составляет 5% от стоимости, аренды, заказанного Вами транспорта. Причем стоимость комиссии будет включена в сам кредит и Вам не нужно оплачивать эту стоимость наличными средствами. В кредит можно приобрести услугу по аренде автомобиля с водителем на сумму от десяти тысяч рублей. Переплата по кредиту составит от 10 до 25%, в зависимости от кредитной организации, кредитного продукта и Вашей кредитной истории.Выбор из большого количества кредитных институтов позволяет нашим клиентам не переплачивать за обслуживание кредита, и получать его на лучших условиях.</p>
      <a class="el-button fancybox-form" href="#call-popup">Оформить заявку</a>
    </div>
  </div>
</section>