<section class="mbox wrap-slider-card">
	<div class="slider-card">
		<div class="big-photos">
			<div class="photo"><img src="../images/withoutcar.png" alt=""></div>
			<div class="photo"><img src="../images/withoutcar.png" alt=""></div>
			<div class="photo"><img src="../images/withoutcar.png" alt=""></div>
			<div class="photo"><img src="../images/withoutcar.png" alt=""></div>
			<div class="photo"><img src="../images/withoutcar.png" alt=""></div>
		</div>
		<div class="small-photos">
			<div class="sm-photo"><img src="../images/sm-car.png" alt=""></div>
			<div class="sm-photo"><img src="../images/back-car.png" alt=""></div>
			<div class="sm-photo"><img src="../images/in-car.png" alt=""></div>
			<div class="sm-photo"><img src="../images/back-car.png" alt=""></div>
			<div class="sm-photo"><img src="../images/in-car.png" alt=""></div>
		</div>
	</div>
	<div class="right-card">
		<div class="card-title">BMW 3er F30 — <span>белая</span></div>
		<p>от 3 000 руб. в сутки</p>
		<div class="wrap-color">
			<div class="color-content">
				<div class="content">Цвет — белый</div>
				<div class="content">Цвет — черный</div>
				<div class="content">Цвет — синий</div>
				<div class="content">Цвет — красный</div>
				<div class="content">Цвет — зеленый</div>
			</div>
			<div class="colors">
				<div class="choose-color white-color active"><span></span></div>
				<div class="choose-color black-color"><span></span></div>
				<div class="choose-color blue-color"><span></span></div>
				<div class="choose-color red-color"><span></span></div>
				<div class="choose-color green-color"><span></span></div>
			</div>
		</div>
		<a class="el-button orenda" href="step1_driver.html">Взять в аренду</a>
		<div class="ask">
			<a class="fancybox-form" href="#call-popup">
				<span><img src="../images/support_cart.png" alt=""></span>
				<span>Помощь при аренде. Заказать обратный звонок.</span>
			</a>
		</div>
		<div class="advantages">
			<div class="adv-item">
				<img src="../images/people_cart.png" alt="">
				<p>до 5</p>
			</div>
			<div class="adv-item">
				<img src="../images/oil2_cart.png" alt="">
				<p>Дизель</p>
			</div>
			<div class="adv-item">
				<img src="../images/oil_cart.png" alt="">
				<p>12л/100км</p>
			</div>
			<div class="adv-item">
				<img src="../images/engine_cart.png" alt="">
				<p>172 л.с.</p>
			</div>
			<div class="adv-item">
				<img src="../images/transmission.png" alt="">
				<p>АКПП</p>
			</div>
		</div>
		<a href="#video-popup" class="video fancybox-form">
			<span><img src="../images/video_cart.png" alt=""></span>
			<span>Посмотреть видео-обзор этого транспорта</span>
		</a>
		<div class="functions">
			<a href="#" class="options">
				<span><img src="../images/change_cart.png" alt=""></span>
				<span>Дополнительные опции при оформлении аренды</span>
			</a>
			<div class="options-hidden">
				<div class="item">
					<div class="name">Детское кресло</div>
					<div class="price">300 р в сутки</div>
					<div class="pic"><img src="../images/child-chair.png" alt=""></div>
				</div>
				<div class="item">
					<div class="name">Навигатор</div>
					<div class="price">300 р в сутки</div>
					<div class="pic"><img src="../images/navigator.png" alt=""></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="mbox wrapper-details nondrive-details">
	<div class="details">
		<p>Оборудование установленное на этот транспорт</p>
		<a href="#"><img src="../images/plus.png" alt=""></a>
	</div>
	<div class="equipment-hidden">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dicta beatae dolores fugit ratione nisi, quis pariatur minus temporibus in accusamus rerum minima mollitia, ad cupiditate deleniti ut odit ipsa. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium omnis doloribus modi fuga, necessitatibus deserunt obcaecati consequatur, assumenda. Maiores commodi consequatur minima velit necessitatibus autem ex iusto doloribus, a quas.
	</div>
	<div class="available-tariffs">
		<div class="tar-item">
			<div class="title">ПО ЧАСАМ</div>
			<div class="price">
				<p>от <b>800</b> <i>₽</i></p>
				<span><strong>/</strong>в час</span>
			</div>
			<div class="desc">Бесплатная подача в аэропорту или на Московском вокзале</div>
			<div class="desc">Бесплатная подача в аэропорту или на Московском вокзале</div>
			<div class="prompt-hidden">
				<div class="prompt-title">Бесплатная подача в аэропорту или на Московском вокзале</div>
				<p>Бесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзале</p>
			</div>
		</div>
		<div class="tar-item">
			<div class="title">ТРАНСФЕР</div>
			<div class="price">
				<p><i></i><b>По звонку</b></p>
				<span><strong></strong></span>
			</div>
			<div class="desc">Свяжитесь с нашим менеджером, чтобы узнать цену</div>
			<div class="prompt-hidden">
				<div class="prompt-title">Бесплатная подача в аэропорту или на Московском вокзале</div>
				<p>Бесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзале</p>
			</div>
		</div>
	</div>
</section>