<div class="event js-tab">
  <div class="mbox">
    <div class="el-info">
      <div class="info-left">
        <h2>Организация мероприятий</h2>
        <div class="el-info-text">
          <p>Аренда автомобиля в Санкт-Петербурге с нами значительно упрощается, ведь авто можно забронировать онлайн, открыв соответствующую вкладку на сайте. Вам будет предложено выбрать категорию услуги (с водителем или без, кабриолет, лимузин, микроавтобус), дату, имя и е-мейл. В графе «Ваши пожелания» вы можете оставить информацию об особенностях заказа.</p>
          <p>Вы можете рассчитать предварительно заказ на специальном онлайн калькуляторе, выбрав вид аренды (с водителем или без него), модель авто и сроки аренды посуточно.</p>
          <p>Вы можете рассчитать предварительно заказ на специальном онлайн калькуляторе, выбрав вид аренды (с водителем или без него), модель авто и сроки аренды посуточно. 
          </p>
        </div>
      </div>
      <div class="info-right">
        <div class="info-pic">
          <img src="images/invite_meropr.png" alt="Invite">
        </div>
      </div>
    </div>
  </div>

  <div class="tabs-wrap">
    <div class="mbox">
      <ul class="el-tabs">
          <li class="tab">Корпоративный праздник</li>
          <li class="tab">Корпоративный отдых</li>
          <li class="tab">Организация дня рождения или юбилея</li>     
          <li class="tab">Деловые мероприятия</li>
      </ul>
      <div class="tab-content">
        <div class="tab-item">
          <h2>Корпоративный праздник от «Royal Rent» - торжество по высшим стандартам</h2>
          <p>Организация корпоративных праздников на высшем уровне – на этом специализируется команда профессионалов «Grand Premier». Мы помогаем лучшим предприятиям региона, страны и мира строить крепкие дружественные отношения между членами коллектива уже более 10 лет. Мы знаем, почему это важно и что нужно для незабываемого торжества. Организованный компанией «Grand Premier» корпоративный праздник – это максимум возможностей во всем.</p>
          <div class="event-list-wrap">
            <div class="event-list-row">
              <h3>Место проведения праздника:</h3>
              <ul>
                <li>Cтильно оформленный зал;</li>
                <li>Торжество на открытом воздухе;</li>
                <li>Праздник в замке или во дворце;</li>
                <li>Корпоратив от «Grand Premier» за границей или в Петербурге – бесценный подарок вашей дружной команде;</li>
              </ul>
            </div>
            <div class="event-list-row">
              <h3>Эксклюзивные услуги по организации фуршета, банкета:</h3>
              <ul>
                <li>Изысканные кухни – европейские, восточные, замечательные блюда русской кухни.</li>
                <li>Мы поможем вам выбрать между банкетом и фуршетом.</li>
                <li>Участвуйте в творческом процессе, выбирая детали и стиль оформления, или поручите эту задачу нашим профессионалам полностью.</li>
                <li>Гастрономическое шоу, шоколадный фонтан, лакеи-официанты – добавят событию оригинальности.</li>
              </ul>
            </div>
            <div class="event-list-row">
              <h3>Праздник по сценарию:</h3>
              <ul>
                <li>Корпоративная вечеринка по высшим стандартам;</li>
                <li>Организация Нового Года;</li>
                <li>Оригинальные идеи и развлечения;</li>
                <li>Сюрпризы для гостей – максимальное удовольствие;</li>
                <li>Пиротехническое шоу и фейерверк – замечательный вариант кульминации корпоративного торжества. Сотрудники будут гордиться своей компанией еще больше.</li>
              </ul>
            </div>
          </div>
          <div class="el-table">
            <div class="link">
              <p>Таблица стоимости услуг</p>
              <span class="add">+</span>
            </div>
            <div class="wrap-table">
              <div class="table-header">
                <div class="column">Stolbec 1</div>
                <div class="column">Stolbec 2</div>
                <div class="column">Stolbec 3</div>
                <div class="column">Stolbec 4</div>
              </div>
              <div class="table-body">
                <div class="table-row">
                  <div class="table-col">Infoooo</div>
                  <div class="table-col">Info</div>
                  <div class="table-col">Info</div>
                  <div class="table-col">Info</div>
                </div>
                <div class="table-row">
                  <div class="table-col">Infoooo</div>
                  <div class="table-col">Info</div>
                  <div class="table-col">Info</div>
                  <div class="table-col">Info</div>
                </div>
                <div class="table-row">
                  <div class="table-col">Infoooo</div>
                  <div class="table-col">Info</div>
                  <div class="table-col">Info</div>
                  <div class="table-col">Info</div>
                </div>
                <div class="table-row">
                  <div class="table-col">Infoooo</div>
                  <div class="table-col">Info</div>
                  <div class="table-col">Info</div>
                  <div class="table-col">Info</div>
                </div>
                <div class="table-row">
                  <div class="table-col">Infoooo</div>
                  <div class="table-col">Info</div>
                  <div class="table-col">Info</div>
                  <div class="table-col">Info</div>
                </div>
              </div>
            </div>
          </div>
          <a class="el-button fancybox-form" href="#call-popup">Оформить заявку</a>
        </div>
        <div class="tab-item">Содержимое 2</div>
        <div class="tab-item">Содержимое 3</div>
        <div class="tab-item">Содержимое 4</div>
      </div>
    </div>
  </div>
</div>