<section class="mbox wrap-slider-card">
	<div class="slider-card">
		<div class="big-photos">
			<div class="photo"><img src="../images/moskow.png" alt=""></div>
			<div class="photo"><img src="../images/moskow.png" alt=""></div>
			<div class="photo"><img src="../images/moskow.png" alt=""></div>
			<div class="photo"><img src="../images/moskow.png" alt=""></div>
			<div class="photo"><img src="../images/moskow.png" alt=""></div>
		</div>
		<div class="small-photos">
			<div class="sm-photo"><img src="../images/car_exc.png" alt=""></div>
			<div class="sm-photo"><img src="../images/bridge.png" alt=""></div>
			<div class="sm-photo"><img src="../images/river.png" alt=""></div>
			<div class="sm-photo"><img src="../images/bridge.png" alt=""></div>
			<div class="sm-photo"><img src="../images/river.png" alt=""></div>
		</div>
	</div>
	<div class="right-card">
		<div class="card-title">Бизнес-интенсив. Обзорная экскурсия для деловых людей</div>
		<div class="about">
			<span><img src="../images/money_cart.png" alt=""></span>
			<span>от 3 000 руб.</span>
		</div>
		<div class="about">
			<span><img src="../images/time_cart.png" alt=""></span>
			<span>от 3 часов</span>
		</div>
		<div class="about">
			<span><img src="../images/people_cart.png" alt=""></span>
			<span>от 1 чел.</span>
		</div>
		<a class="el-button" href="order_excursion.html">Заказать</a>
		<div class="ask">
			<a class="fancybox-form" href="#call-popup">
				<span><img src="../images/support_cart.png" alt=""></span>
				<span>У меня есть вопрос. Заказать обратный звонок.</span>
			</a>
		</div>
	</div>
</section>

<section class="mbox wrapper-details">
	<div class="details">
		<p>Подробное описание экскурсии</p>
		<a href="#"><img src="../images/plus.png" alt=""></a>
	</div>
	<div class="equipment-hidden">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dicta beatae dolores fugit ratione nisi, quis pariatur minus temporibus in accusamus rerum minima mollitia, ad cupiditate deleniti ut odit ipsa. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium omnis doloribus modi fuga, necessitatibus deserunt obcaecati consequatur, assumenda. Maiores commodi consequatur minima velit necessitatibus autem ex iusto doloribus, a quas.
	</div>
	<div class="dop-tarifs">Доступные тарифы при оформлении экскурсии:</div>
	<div class="available-tariffs">
		<div class="tar-item">
			<div class="title">1-2 человека</div>
			<div class="price">
				<p><b>5 650</b><i>₽</i></p>
			</div>
			<div class="desc">Автомобиль комфорт класса</div>
			<div class="desc">Услуги гида-экскурсовода</div>
			<div class="desc">Услуги водителя</div>
			<div class="desc">Что оплачивается дополнительно? </div>
			<div class="prompt-hidden">
				<div class="prompt-title">Бесплатная подача в аэропорту или на Московском вокзале</div>
				<p>Бесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзале</p>
			</div>
		</div>
		<div class="tar-item">
			<div class="title">1-2 человека</div>
			<div class="price">
				<p><b>6 650</b><i>₽</i></p>
			</div>
			<div class="desc">Автомобиль бизнес класса</div>
			<div class="desc">Услуги гида-экскурсовода</div>
			<div class="desc">Услуги водителя</div>
			<div class="desc">Что оплачивается дополнительно? </div>
			<div class="prompt-hidden">
				<div class="prompt-title">Бесплатная подача в аэропорту или на Московском вокзале</div>
				<p>Бесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзале</p>
			</div>
		</div>
		<div class="tar-item">
			<div class="title">3-6 человек</div>
			<div class="price">
				<p><b>6 650</b><i>₽</i></p>
				<span><strong>/</strong>в сутки</span>
			</div>
			<div class="desc">Автомобиль минивэн</div>
			<div class="desc">Услуги гида-экскурсовода</div>
			<div class="desc">Услуги водителя</div>
			<div class="desc">Что оплачивается дополнительно? </div>
			<div class="prompt-hidden">
				<div class="prompt-title">Бесплатная подача в аэропорту или на Московском вокзале</div>
				<p>Бесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзале</p>
			</div>
		</div>
		<div class="tar-item">
			<div class="title">7-8 человек</div>
			<div class="price">
				<p><b>8 650</b><i>₽</i></p>
				<span><strong>/</strong>в сутки</span>
			</div>
			<div class="desc">Автомобиль минивэн</div>
			<div class="desc">Услуги гида-экскурсовода</div>
			<div class="desc">Услуги водителя</div>
			<div class="desc">Что оплачивается дополнительно? </div>
			<div class="prompt-hidden">
				<div class="prompt-title">Бесплатная подача в аэропорту или на Московском вокзале</div>
				<p>Бесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзале</p>
			</div>
		</div>
	</div>
	<div class="tariffs-description">
		<div class="prompts">
			<p>Цена действительна для экскурсии на русском и английском языке.</p>
			<p>Стоимость экскурсии на других языках и для группы большего размера уточняйте у наших менеджеров.</p>
			<p>Экскурсия также может быть проведена на автомобилях представительского класса или на вашем автомобиле с уменьшением стоимости.</p>
		</div>
	</div>
</section>

<section class="mbox wrap-recomend">
	<div class="recomend-title">Рекомендуем посмотреть эти экскурсии:</div>
	<div class="filter-tab-item">
		<div class="excursion-item">
	      <div class="exc-text">
	        <div class="info">
	          <span class="time"><img src="../images/time-one.png" alt=""> 4 часа</span>
	          <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
	        </div>
	        <div class="info">
	          <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
	        </div>
	        <div class="info">
	          <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
	        </div>
	        <div class="info-details">
	          <a href="excursion_card.html">Узнать подробнее</a>
	        </div>
	      </div>
	      <div class="exc-photo"><img src="../images/excursion.png" alt=""></div>
	    </div>
	    <div class="excursion-item">
	      <div class="exc-text">
	        <div class="info">
	          <span class="time"><img src="../images/time-one.png" alt=""> 4 часа</span>
	          <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
	        </div>
	        <div class="info">
	          <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
	        </div>
	        <div class="info">
	          <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
	        </div>
	        <div class="info-details">
	          <a href="excursion_card.html">Узнать подробнее</a>
	        </div>
	      </div>
	      <div class="exc-photo"><img src="../images/excursion.png" alt=""></div>
	    </div>
	    <div class="excursion-item">
	      <div class="exc-text">
	        <div class="info">
	          <span class="time"><img src="../images/time-one.png" alt=""> 4 часа</span>
	          <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
	        </div>
	        <div class="info">
	          <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
	        </div>
	        <div class="info">
	          <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
	        </div>
	        <div class="info-details">
	          <a href="excursion_card.html">Узнать подробнее</a>
	        </div>
	      </div>
	      <div class="exc-photo"><img src="../images/excursion.png" alt=""></div>
	    </div>
	    <div class="excursion-item">
	      <div class="exc-text">
	        <div class="info">
	          <span class="time"><img src="../images/time-one.png" alt=""> 4 часа</span>
	          <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
	        </div>
	        <div class="info">
	          <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
	        </div>
	        <div class="info">
	          <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
	        </div>
	        <div class="info-details">
	          <a href="excursion_card.html">Узнать подробнее</a>
	        </div>
	      </div>
	      <div class="exc-photo"><img src="../images/excursion.png" alt=""></div>
	    </div>
    </div>
</section>

<section class="mbox wrap-look-before">
	<div class="recomend-title">Ранее просмотренные вами экскурсии:</div>
	<div class="filter-tab-item">
		<div class="excursion-item">
	      <div class="exc-text">
	        <div class="info">
	          <span class="time"><img src="../images/time-one.png" alt=""> 4 часа</span>
	          <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
	        </div>
	        <div class="info">
	          <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
	        </div>
	        <div class="info">
	          <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
	        </div>
	        <div class="info-details">
	          <a href="excursion_card.html">Узнать подробнее</a>
	        </div>
	      </div>
	      <div class="exc-photo"><img src="../images/excursion.png" alt=""></div>
	    </div>
	    <div class="excursion-item">
	      <div class="exc-text">
	        <div class="info">
	          <span class="time"><img src="../images/time-one.png" alt=""> 4 часа</span>
	          <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
	        </div>
	        <div class="info">
	          <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
	        </div>
	        <div class="info">
	          <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
	        </div>
	        <div class="info-details">
	          <a href="excursion_card.html">Узнать подробнее</a>
	        </div>
	      </div>
	      <div class="exc-photo"><img src="../images/excursion.png" alt=""></div>
	    </div>
	    <div class="excursion-item">
	      <div class="exc-text">
	        <div class="info">
	          <span class="time"><img src="../images/time-one.png" alt=""> 4 часа</span>
	          <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
	        </div>
	        <div class="info">
	          <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
	        </div>
	        <div class="info">
	          <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
	        </div>
	        <div class="info-details">
	          <a href="excursion_card.html">Узнать подробнее</a>
	        </div>
	      </div>
	      <div class="exc-photo"><img src="../images/excursion.png" alt=""></div>
	    </div>
	    <div class="excursion-item">
	      <div class="exc-text">
	        <div class="info">
	          <span class="time"><img src="../images/time-one.png" alt=""> 4 часа</span>
	          <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
	        </div>
	        <div class="info">
	          <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
	        </div>
	        <div class="info">
	          <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
	        </div>
	        <div class="info-details">
	          <a href="excursion_card.html">Узнать подробнее</a>
	        </div>
	      </div>
	      <div class="exc-photo"><img src="../images/excursion.png" alt=""></div>
	    </div>
    </div>
</section>