<!-- FOOTER -->
<div class="footer_placeholder">
 
</div>
<footer class="footer">
  <div class="mbox">
<!--     <div class="subscribe">
      <h3>Подпишитесь на рассылку и экономьте узнавая о всех акциях и скидках первым!</h3>
      <a class="el-button" href="#">Подписаться</a>
    </div> -->
    <div class="footer-list">
      <div class="footer-list-col">
        <div class="footer-list-item">
          <h3>Услуги нашей компании</h3>
          <ul>
            <li><a href="excursion.html">Экскурсии и индивидуальные туры</a></li>
            <li><a href="photosession.html">Фотосессия с эксклюзивным автомобилем</a></li>
            <li><a href="business_travel.html">Деловые поездки</a></li>
            <li><a href="pulkovo_transfer.html">Трансфер в аэропорт Пулково</a></li>
            <li><a href="cabriolet-ride.html">Прогулки на кабриолетах</a></li>
            <li><a href="vehicle_registration.html">Транспорт на свадьбу</a></li>
            <li><a href="vehicle_registration.html">Оформление транспорта</a></li>
            <li><a href="meeting_from_maternity.html">Встреча из роддома</a></li>
            <li><a href="birthdays_anniversaris.html">День рождения или юбилей</a></li>
            <li><a href="romantic_meetings.html">Романтическая встреча</a></li>
            <li><a href="stpetersburg_transfer.html">Трансфер ж/д и речной вокзалы</a></li>
            <li><a href="credit_for_rent.html">Аренда в кредит</a></li>
            <li><a href="car_for_pmef.html">Автомобиль на ПМЭФ</a></li>
            <li><a href="juridic-forum.html">Автомобиль на юридический форум</a></li>
            <li><a href="rent_than_buy.html">Аренда с выкупом</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-list-col">
        <div class="footer-list-item">
          <h3>Услуги юридическим лицам</h3>
          <ul>
            <li><a href="conveying_employees.html">Развозка сотрудников</a></li>
            <li><a href="business_taxi.html">Бизнес такси без логотипов</a></li>
            <li><a href="vip_escort.html">VIP-сопровождение</a></li>
            <li><a href="event_organization.html">Организация мероприятий</a></li>
            <li><a href="cabriolet-ride.html">Прогулки на кабриолетах</a></li>
            <li><a href="vip_hall_order.html">Заказ VIP залов</a></li>
            <li><a href="meeting_with_plate.html">Встреча у трапа самолета с табличкой</a></li>
            <li><a href="longtime_rent.html">Длительная аренда</a></li>
          </ul>
        </div>
        <div class="footer-list-item">
          <h3>Сотрудничество</h3>
          <ul>
            <li><a href="operational_leasing.html">Оперативный лизинг</a></li>
            <li><a href="car_for_taxi.html">Сдача автомобиля в такси</a></li>
            <li><a href="cooperation.html">Сотрудничество с нами</a></li>
            <li><a href="for_investors.html">Инвесторам</a></li>
            <li><a href="franchising.html">Франшиза Royal Rent</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-list-col">
        <div class="footer-list-item">
          <h3>Наш транспорт</h3>
          <ul>
            <li><a href="car_with_driver.html">Автомобили с водителем</a></li>
            <li><a href="car_nonedriver.html">Автомобили без водителя</a></li>
            <li><a href="cabriolets.html">Кабриолеты</a></li>
            <li><a href="retro_cars.html">Ретро автомобили</a></li>
            <li><a href="limousine.html">Лимузины</a></li>
            <li><a href="minibuses.html">Микроавтобусы</a></li>
            <li><a href="buses.html">Автобусы</a></li>
            <li><a href="boats_and_yachts.html">Катера и яхты</a></li>
            <li><a href="helicopters.html">Вертолеты</a></li>
            <li><a href="business_aviation.html">Бизнес авиация</a></li>
          </ul>
        </div>
        <div class="footer-list-item">
          <h3>Дополнительно</h3>
          <ul>
            <li><a href="#">Калькулятор заказа</a></li>
            <li><a href="#">Личный кабинет</a></li>
            <li><a href="#">Карта сайта</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-list-col">
        <div class="footer-list-item">
          <h3>Информация о прокате</h3>
          <ul>
            <li><a href="about_us.html">О компании</a></li>
            <li><a href="rent_conditions.html">Условия аренды</a></li>
            <li><a href="tariffs.html">Тарифы</a></li>
            <li><a href="revievs.html">Отзывы</a></li>
            <li><a href="contacts.html">Контакты</a></li>
            <li><a href="news_shares_articles.html">Новости</a></li>
            <li><a href="news_shares_articles.html">Статьи</a></li>
            <li><a href="news_shares_articles.html">Акции</a></li>
          </ul>
        </div>
        <a class="footer-logo" href="index.html">
          <div class="footer-logo-wrap">
            <img src="images/footer-logo.png" alt="Logo">
          </div>
          <p>ROYAL RENT</p>
        </a>
        <div class="footer-contacts">
          <span>Car rental. Around-the-clock.</span>
          <span>Автопрокат круглосуточно.</span>
          <a href="tel:88000000000">8 800 000-00-00</a>
          <a href="mailto:info@royalrent.ru">info@royalrent.ru</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="mbox">
      <div class="footer-bottom-wrap">
        <div class="footer-bottom-left">
          <div class="copyright">
            <span>Copyright © 2016 RoyalRent. Все права защищены.</span>
          </div>
          <div class="social">
            <a href="#">
              <img src="images/fb-icon.png" alt="Facebook">
            </a>
            <a href="#">
              <img src="images/vk-icon.png" alt="VK">
            </a>
            <a href="#">
              <img src="images/insta-icon.png" alt="Instagram">
            </a>
            <a href="#">
              <img src="images/viber-icon.png" alt="Viber">
            </a>
            <a href="#">
              <img src="images/wa-icon.png" alt="WhatsApp">
            </a>
          </div>
        </div>
        <div class="design">
          <span>Макеты сделаны <a href="http://theparallel.ru">Parallel</a></span>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD4EvtZ1QPqDgkPPt4o0hVDnkg45IvyUM"></script> 
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.timepicker.js" ></script>
<script type="text/javascript" src="js/plagins/jquery-ui.min.js" ></script>

<!-- <script type="text/javascript" src="js/plagins/jquery.datepicker.extension.range.min.js" ></script>-->
<script type="text/javascript" src="js/plagins/datepicker-ru.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.secretnav.js" ></script>
<script type="text/javascript" src="js/plagins/modernizr.custom.25376.js" ></script>
<script type="text/javascript" src="js/plagins/SmoothScroll.js" ></script>

<script type="text/javascript" src="js/plagins/jquery.mCustomScrollbar.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.mousewheel.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.mousewheel-3.0.6.js" ></script>



<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_2.js" ></script>
<script type="text/javascript" src="js/develop/develop_6.js" ></script>
<script type="text/javascript" src="js/develop/develop_7.js" ></script>

<!-- endbuild -->

<!-- /SCRIPTS -->
