<section class="franchising">
  <div class="mbox">
    <h1>Франшиза автопроката RoyalRent</h1>
    <p>Возможность начать невероятно интересный бизнес 
    с минимальными инвестициями. Для амбициозных людей, 
    которым нравится динамичный образ жизни, которые любят 
    автомобили и имеют деловую хватку.</p>
    <div class="franchising-pic">
      <img src="images/franchising-pic.png" alt="">
      <a class="mouse" href="#">
        <span class="dot"></span>
      </a>
    </div>
  </div>
</section>   

<section class="why-franchising">
  <div class="mbox">
    <div class="profitable">
      <h2>Почему это выгодно?</h2>
      <div class="profitable-row">
        <div class="profitable-item">
          <div class="profitable-pic">
            <img src="images/circle-icon1.png" alt="1">
          </div>
          <p>Низкая стоимость франшизы и роялти, а потому Вы быстро окупите свои вложения</p>
        </div>
        <div class="profitable-item">
          <div class="profitable-pic">
            <img src="images/circle-icon2.png" alt="2">
          </div>
          <p>Мы сами купим автомобили для вашего бизнеса</p>
        </div>
        <div class="profitable-item">
          <div class="profitable-pic">
            <img src="images/circle-icon3.png" alt="3">
          </div>
          <p>Вы приобретаете транспорт в лизинг с первым взносом от 15%</p>
        </div>
        <div class="profitable-item">
          <div class="profitable-pic">
            <img src="images/circle-icon4.png" alt="4">
          </div>
          <p>В Вашем распоряжении готовые сайт и система бронирования</p>
        </div>
        <div class="profitable-item">
          <div class="profitable-pic">
            <img src="images/circle-icon5.png" alt="5">
          </div>
          <p>Весь автопарк будет застрахован по специальным тарифам КАСКО</p>
        </div>
        <div class="profitable-item">
          <div class="profitable-pic">
            <img src="images/circle-icon6.png" alt="6">
          </div>
          <p>Бизнес начинает приносить прибыль с первого месяца</p>
        </div>
      </div>
      <a class="el-button fancybox-form" href="#call-popup">Оформить заявку</a>
    </div>

    <div class="comfortable">
      <h2>Почему это удобно?</h2>
      <div class="comfortable-wrap">
        <div class="comfortable-item">
          <div class="comfortable-pic">
            <img src="images/comfortable1.png" alt="">
          </div>
          <p>Вы сразу получаете несколько тысяч клиентов, которые путешествуют  не только по</p>
        </div>
        <div class="comfortable-item">
          <div class="comfortable-pic">
            <img src="images/comfortable2.png" alt="">
          </div>
          <p>К вашим услугам колл-центр для 
          приема заказов 24 часа в сутки</p>
        </div>
        <div class="comfortable-item">
          <div class="comfortable-pic">
            <img src="images/comfortable3.png" alt="">
          </div>
          <p>Возможность работать в любой точке мира</p>
        </div>
        <div class="comfortable-item">
          <div class="comfortable-pic">
            <img src="images/comfortable4.png" alt="">
          </div>
          <p>Вы работаете с современной 
          интернет системой бронирования, 
          над которой продолжают</p>
        </div>
      </div>
      <a class="el-button fancybox-form" href="#call-popup">Оформить заявку</a>
    </div>
  </div>
</section>