<section class="mbox index-video">
	<video src="video/video_home.mp4" autoplay="true" loop></video>
</section>
<section class="mbox about-rent">
	<div class="text">
		<div class="take-car">Взять автомобиль в аренду в СПб</div>
		<p>Все желающим взять автомобиль в аренду в СПб, компания «PROFARENDA» предлагает выгодное решения этой потребности. Мы – это команда высококвалифицированных специалистов, организовавших пассажирские перевозки на самом высоком уровне. С нами вы сможете организовать шикарный свадебный кортеж, арендовать максимально подходящий на тот или иной случай автомобиль, заказать сопровождение, рассчитывая на услуги международного уровня.</p>
		<p>Аренда автомобиля в Санкт-Петербурге с нами значительно упрощается, ведь авто можно забронировать онлайн, открыв соответствующую вкладку на сайте. Вам будет предложено выбрать категорию услуги (с водителем или без, кабриолет, лимузин, микроавтобус), дату, имя и е-мейл. В графе «Ваши пожелания» вы можете оставить информацию об особенностях заказа.</p>
		<p>Вы можете рассчитать предварительно заказ на специальном онлайн калькуляторе, выбрав вид аренды (с водителем или без него), модель авто и сроки аренды посуточно. Чем больше количество дней вам нужен автомобиль в аренду, тем больше вы экономите, хотя цена на аренду автомобиля у нас и так привлекательна. Также просим вас указать основные контакты для связи, включая номер телефона, все данные в безопасности.</p>
		<p>Получите скидку 5% на последующие услуги нашей компании сделав свое селфи на фоне нашего автомобиля и отправив на наш почтовый ящик!</p>
	</div>
	<div class="photo">
		<div class="photo-item"><img src="images/prava.png" alt=""></div>
		<div class="photo-item"><img src="images/key.png" alt=""></div>
	</div>
</section>