<section class="wrapper-acordeon">
	<div class="main-slider">
		<div class="slide">
			<img src="images/driv.png" alt="">
			<div class="headline">Лучшие водители и автомобили</div>
		</div>
		<div class="slide">
			<img src="images/nondriv.png" alt="">
			<div class="headline">Огромный выбор транспорта</div>
		</div>
		<div class="slide">
			<img src="images/minibuses.png" alt="">
			<div class="headline">На любой случай жизни</div>
		</div>
		<div class="slide">
			<img src="images/buses.png" alt="">
			<div class="headline">Автобусы вместимостью от 27 до 55мест</div>
		</div>
		<div class="slide">
			<img src="images/nondriv.png" alt="">
			<div class="headline">Огромный выбор транспорта</div>
		</div>
	</div>
	<div class="huge-hidden-blocks">
		<div class="hidden-item" data-attr="1">
			<img src="images/car-driver-bg.png" alt="">
			<div class="text">Лучшие водители и автомобили</div>
		</div>
		<div class="hidden-item" data-attr="2">
			<img src="images/car-nonedriver-bg.png" alt="">
			<div class="text">Огромный выбор транспорта</div>
		</div>
		<div class="hidden-item" data-attr="3">
			<img src="images/minibuses-bg.jpg" alt="">
			<div class="text">На любой случай жизни</div>
		</div>
		<div class="hidden-item" data-attr="4">
			<img src="images/bigbus.jpg" alt="">
			<div class="text">Автобусы вместимостью от 27 до 55мест</div>
		</div>
		<div class="hidden-item" data-attr="5">
			<img src="images/car-nonedriver-bg.png" alt="">
			<div class="text">Огромный выбор транспорта</div>
		</div>
	</div>
	<div class="shadow-hidden-blocks">
		<div class="shadow-item" data-attr="1">
			<div class="name">С водителем</div>
		</div>
		<div class="shadow-item" data-attr="2">
			<div class="name">Без водителя</div>
		</div>
		<div class="shadow-item" data-attr="3">
			<div class="name">Микроавтобусы</div>
		</div>
		<div class="shadow-item" data-attr="4">
			<div class="name">Автобусы</div>
		</div>
		<div class="shadow-item" data-attr="5">
			<div class="name">Без водителя</div>
		</div>
	</div>
</section>

<div class="mbox index-about">
	<div class="title">Почему стоит выбрать Royal Rent?</div>
	<div class="wrap-items">
		<div class="item">
			<img src="images/nadijno.png" alt="">
			<div class="item-name">Надежно!</div>
			<div class="desc">16 лет на рынке. Компания, заслужившая доверие!</div>
		</div>
		<div class="item">
			<img src="images/avtopark.png" alt="">
			<div class="item-name">Большой автопарк!</div>
			<div class="desc">Автопарк из более чем 200 автомобилей различных марок и моделей авто!</div>
		</div>
		<div class="item">
			<img src="images/needdriver.png" alt="">
			<div class="item-name">Нужен водитель?</div>
			<div class="desc">Сдаем в аренду автомобили как с водителем, так и в прокат без водителя!</div>
		</div>
		<div class="item">
			<img src="images/support.png" alt="">
			<div class="item-name">Тех. поддержка 24/7</div>
			<div class="desc">У нас автомобили от эконом до VIP-класса и тех.поддержка 24/7</div>
		</div>
	</div>
</div>

<section class="mbox wrap-transport-slider">
	<div class="left-bar-slider">
		<div class="arrows">
			<div class="prev-wide"></div>
			<div class="next-wide"></div>
		</div>
		<div class="white-block"></div>
		<div class="wide-slider">
			<div class="slide"><img src="images/transport2.png" alt=""></div>
			<div class="slide"><img src="images/transport3.png" alt=""></div>
			<div class="slide"><img src="images/transport1.png" alt=""></div>
			<div class="slide"><img src="images/transport2.png" alt=""></div>
			<div class="slide"><img src="images/transport3.png" alt=""></div>
			<div class="slide"><img src="images/transport1.png" alt=""></div>
		</div>
		<div class="iphone"><img src="images/iphone.png" alt=""></div>
	</div>
	<div class="title-slider">
		<div class="slide">Транспорт на свадьбу</div>
		<div class="slide">Car</div>
		<div class="slide">People</div>
		<div class="slide">Транспорт на свадьбу</div>
		<div class="slide">Car</div>
		<div class="slide">People</div>
	</div>
	<div class="text-slider">
		<div class="slide">
			<div class="desc">Трогательные встречи, романтические планы, история любви как в лучшем кино… И вот настал тот момент, когда слышны звуки мелодии Мендельсона, гости наполняют бокалы шампанским, давно заказана аренда авто на свадьбу с водителем, день расписан по счастливым минутам. Молодожены превращают свою мечту в реальность!</div>
			<div class="goto">
				<a href="wedding_transport.html" class="link">
					<p>Перейти к услуге</p>
					<span class="arrow"><span></span></span>
				</a>
			</div>
			<div class="goto">
				<a href="about_us.html" class="link">
					<p>Посмотреть все наши услуги</p>
					<span class="arrow"><span></span></span>
				</a>
			</div>
		</div>
		<div class="slide">
			<div class="desc">Трогательные встречи, романтические планы, история любви как в лучшем кино… И вот настал тот момент, когда слышны звуки мелодии Мендельсона, гости наполняют бокалы шампанским, давно заказана аренда авто на свадьбу с водителем, день расписан по счастливым минутам. Молодожены превращают свою мечту в реальность!</div>
			<div class="goto">
				<a href="wedding_transport.html" class="link">
					<p>Перейти к услуге</p>
					<span class="arrow"><span></span></span>
				</a>
			</div>
			<div class="goto">
				<a href="about_us.html" class="link">
					<p>Посмотреть все наши услуги</p>
					<span class="arrow"><span></span></span>
				</a>
			</div>
		</div>
		<div class="slide">
			<div class="desc">Трогательные встречи, романтические планы, история любви как в лучшем кино… И вот настал тот момент, когда слышны звуки мелодии Мендельсона, гости наполняют бокалы шампанским, давно заказана аренда авто на свадьбу с водителем, день расписан по счастливым минутам. Молодожены превращают свою мечту в реальность!</div>
			<div class="goto">
				<a href="wedding_transport.html" class="link">
					<p>Перейти к услуге</p>
					<span class="arrow"><span></span></span>
				</a>
			</div>
			<div class="goto">
				<a href="about_us.html" class="link">
					<p>Посмотреть все наши услуги</p>
					<span class="arrow"><span></span></span>
				</a>
			</div>
		</div>
		<div class="slide">
			<div class="desc">Трогательные встречи, романтические планы, история любви как в лучшем кино… И вот настал тот момент, когда слышны звуки мелодии Мендельсона, гости наполняют бокалы шампанским, давно заказана аренда авто на свадьбу с водителем, день расписан по счастливым минутам. Молодожены превращают свою мечту в реальность!</div>
			<div class="goto">
				<a href="wedding_transport.html" class="link">
					<p>Перейти к услуге</p>
					<span class="arrow"><span></span></span>
				</a>
			</div>
			<div class="goto">
				<a href="about_us.html" class="link">
					<p>Посмотреть все наши услуги</p>
					<span class="arrow"><span></span></span>
				</a>
			</div>
		</div>
		<div class="slide">
			<div class="desc">Трогательные встречи, романтические планы, история любви как в лучшем кино… И вот настал тот момент, когда слышны звуки мелодии Мендельсона, гости наполняют бокалы шампанским, давно заказана аренда авто на свадьбу с водителем, день расписан по счастливым минутам. Молодожены превращают свою мечту в реальность!</div>
			<div class="goto">
				<a href="wedding_transport.html" class="link">
					<p>Перейти к услуге</p>
					<span class="arrow"><span></span></span>
				</a>
			</div>
			<div class="goto">
				<a href="about_us.html" class="link">
					<p>Посмотреть все наши услуги</p>
					<span class="arrow"><span></span></span>
				</a>
			</div>
		</div>
		<div class="slide">
			<div class="desc">Трогательные встречи, романтические планы, история любви как в лучшем кино… И вот настал тот момент, когда слышны звуки мелодии Мендельсона, гости наполняют бокалы шампанским, давно заказана аренда авто на свадьбу с водителем, день расписан по счастливым минутам. Молодожены превращают свою мечту в реальность!</div>
			<div class="goto">
				<a href="wedding_transport.html" class="link">
					<p>Перейти к услуге</p>
					<span class="arrow"><span></span></span>
				</a>
			</div>
			<div class="goto">
				<a href="about_us.html" class="link">
					<p>Посмотреть все наши услуги</p>
					<span class="arrow"><span></span></span>
				</a>
			</div>
		</div>
	</div>
</section>