<section class="left-bar">
	<div class="wrap-sort">
		<div class="sort-item">
			<p>Вид аренды</p>
			<select name="driver" class="driver" data-placeholder="Вид аренды">
				<option></option>
				<option>С водителем</option>
				<option>Без водителя</option>
			</select>
		</div>
		<div class="sort-item">
			<p>Вид транспорта: <span>Премиум</span></p>
			<ul class="dropdown-transport">
			    <li>
			        <a href="#" class="main-link">
						<img src="../images/premium.png" alt=""></a>
			        </a>
			        <ul>
			            <li><a href="#">
				            <p>Премиум</p>
							<img src="../images/premium.png" alt=""></a>
						</li>
			            <li><a href="#">
			            	<p>Бизнес</p>
							<img src="../images/business.png" alt="">
			            </a></li>
			            <li><a href="#">
			            	<p>Автобус</p>
							<img src="../images/bus.png" alt="">
			            </a></li>
			            <li><a href="#">
			            	<p>Комфорт</p>
							<img src="../images/comfort.png" alt="">
			            </a></li>
			        </ul>
			    </li>
			</ul>
			<div class="arrows"><img src="../images/arrows.png" alt=""></div>
		</div>
		<div class="sort-item">
			<p>Марка</p>
			<select name="driver" class="driver" data-placeholder="Любая марка">
				<option></option>
				<option>Любая марка</option>
				<option>Любая марка1</option>
				<option>Любая марка2</option>
			</select>
		</div>
		<div class="sort-item">
			<p>Событие</p>
			<select name="driver" class="driver" data-placeholder="Любое событие">
				<option></option>
				<option>Любое событие</option>
				<option>Любое событие1</option>
				<option>Любое событие2</option>
				<option>Любое событие3</option>
			</select>
		</div>
		<div class="sort-item">
			<p>Стоимость</p>
			<select name="driver" class="driver" data-placeholder="Любая стоимость">
				<option></option>
				<option>200</option>
				<option>300</option>
			</select>
		</div>
		<div class="sort-item">
			<p>Цвет</p>
			<select name="driver" class="driver" data-placeholder="Любой цвет">
				<option></option>
				<option>Любой цвет</option>
				<option>Синий</option>
				<option>Черный</option>
				<option>Красный</option>
				<option>Зеленый</option>
				<option>Белый</option>
			</select>
		</div>
	</div>
	<div class="wrap-slider">
		<div class="slide-item">
			<div class="photo"><img src="../images/river.png" alt=""></div>
			<div class="name">Алексей Т.</div>
			<div class="city">Санкт-Петербург</div>
			<div class="text">Брали машину напрокат в карсфоррент, отличный сервис, все очень быстро и удобно и по ценам вполне приемлемо, есть скидки для постоянных клиентов. Пожелания процветания и дальше в вашем бизнесе!</div>
		</div>
		<div class="slide-item">
			<div class="photo"><img src="../images/comfortable1.png" alt=""></div>
			<div class="name">Алексей Т.</div>
			<div class="city">Санкт-Петербург</div>
			<div class="text">Брали машину напрокат в карсфоррент, отличный сервис, все очень быстро и удобно и по ценам вполне приемлемо, есть скидки для постоянных клиентов. Пожелания процветания и дальше в вашем бизнесе!</div>
		</div>
		<div class="slide-item">
			<div class="photo"><img src="../images/comfortable2.png" alt=""></div>
			<div class="name">Алексей Т.</div>
			<div class="city">Санкт-Петербург</div>
			<div class="text">Брали машину напрокат в карсфоррент, отличный сервис, все очень быстро и удобно и по ценам вполне приемлемо, есть скидки для постоянных клиентов. Пожелания процветания и дальше в вашем бизнесе!</div>
		</div>
		<div class="slide-item">
			<div class="photo"><img src="../images/comfortable3.png" alt=""></div>
			<div class="name">Алексей Т.</div>
			<div class="city">Санкт-Петербург</div>
			<div class="text">Брали машину напрокат в карсфоррент, отличный сервис, все очень быстро и удобно и по ценам вполне приемлемо, есть скидки для постоянных клиентов. Пожелания процветания и дальше в вашем бизнесе!</div>
		</div>
	</div>
	<a href="revievs.html" class="read-all">
		<span class="icon"><img src="../images/eye-one.png" alt=""></span>
		<span class="text">Читать все отзывы</span>
	</a>
</section>