<div class="reviev-item reviev-item-grey">
	<div class="mbox">
		<div class="stars">
			<span><img src="../images/star-icon.png" alt=""></span>
			<span><img src="../images/star-icon.png" alt=""></span>
			<span><img src="../images/star-icon.png" alt=""></span>
			<span><img src="../images/star-icon.png" alt=""></span>
			<span><img src="../images/star-icon.png" alt=""></span>
		</div>
		<div class="reviev-text">
			<div class="wrap-name">
				<div class="name">Иванов Иван</div>
				<div class="city">Санкт-Петербург</div>
			</div>
			<div class="wrap-opinion">
				В майские праздники к нам приезжали родственники из Европы. Для них важно было передвигаться по городу с комфортом, а цену за это они могут заплатить любую. Брали в CARSFORRENT Мерседес W222 с водителем. Машина просто супер! В салоне чисто и аккуратно, кузов без единой царапинки. Придраться не к чему, да и родственники подтвердили, что сервис на европейском уровне.
			</div>
		</div>
		<div class="reviev-text">
			<div class="wrap-name">
				<div class="city">09/07/2016</div>
			</div>
			<div class="wrap-opinion"><span>Арендовали:</span> <a href="nonedriver_card.html">BMW 3er (F30) — белая, без водителя</a></div>
		</div>
	</div>
</div>
<div class="reviev-item">
	<div class="mbox">
		<div class="stars">
			<span><img src="../images/star-icon.png" alt=""></span>
			<span><img src="../images/star-icon.png" alt=""></span>
			<span><img src="../images/star-icon.png" alt=""></span>
			<span><img src="../images/star-icon.png" alt=""></span>
			<span><img src="../images/star-icon.png" alt=""></span>
		</div>
		<div class="reviev-text">
			<div class="wrap-name">
				<div class="name">Иванов Иван</div>
				<div class="city">Санкт-Петербург</div>
			</div>
			<div class="wrap-opinion">
				В майские праздники к нам приезжали родственники из Европы. Для них важно было передвигаться по городу с комфортом, а цену за это они могут заплатить любую. Брали в CARSFORRENT Мерседес W222 с водителем. Машина просто супер! В салоне чисто и аккуратно, кузов без единой царапинки. Придраться не к чему, да и родственники подтвердили, что сервис на европейском уровне.
			</div>
		</div>
		<div class="reviev-text">
			<div class="wrap-name">
				<div class="city">09/07/2016</div>
			</div>
			<div class="wrap-opinion"><span>Арендовали:</span> <a href="nonedriver_card.html">BMW 3er (F30) — белая, без водителя</a></div>
		</div>
	</div>
</div>
<div class="reviev-item reviev-item-grey">
	<div class="mbox">
		<div class="stars">
			<span><img src="../images/star-icon.png" alt=""></span>
			<span><img src="../images/star-icon.png" alt=""></span>
			<span><img src="../images/star-icon.png" alt=""></span>
			<span><img src="../images/star-icon.png" alt=""></span>
			<span><img src="../images/star-icon.png" alt=""></span>
		</div>
		<div class="reviev-text">
			<div class="wrap-name">
				<div class="name">Иванов Иван</div>
				<div class="city">Санкт-Петербург</div>
			</div>
			<div class="wrap-opinion">
				В майские праздники к нам приезжали родственники из Европы. Для них важно было передвигаться по городу с комфортом, а цену за это они могут заплатить любую. Брали в CARSFORRENT Мерседес W222 с водителем. Машина просто супер! В салоне чисто и аккуратно, кузов без единой царапинки. Придраться не к чему, да и родственники подтвердили, что сервис на европейском уровне.
			</div>
		</div>
		<div class="reviev-text">
			<div class="wrap-name">
				<div class="city">09/07/2016</div>
			</div>
			<div class="wrap-opinion"><span>Арендовали:</span> <a href="nonedriver_card.html">BMW 3er (F30) — белая, без водителя</a></div>
		</div>
	</div>
</div>
<div class="mbox wrap-numbers">
	<ul class="numbers">
		<li><a href="#" class="active">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
	</ul>
</div>