<div class="excursions js-tab">

    <div class="mbox">
        <div class="event-wrap">
            <div class="event-left">
                <h2>Экскурсии по городу</h2>
                <p>Аренда автомобиля в Санкт-Петербурге с нами значительно упрощается, ведь авто можно забронировать онлайн, открыв соответствующую вкладку на сайте. Вам будет предложено выбрать категорию услуги (с водителем или без, кабриолет, лимузин, микроавтобус), дату, имя и е-мейл. В графе «Ваши пожелания» вы можете оставить информацию об особенностях заказа.</p>
                <p>Вы можете рассчитать предварительно заказ на специальном онлайн калькуляторе, выбрав вид аренды (с водителем или без него), модель авто и сроки аренды посуточно.</p>
                <p>Вы можете рассчитать предварительно заказ на специальном онлайн калькуляторе, выбрав вид аренды (с водителем или без него), модель авто и сроки аренды посуточно. 
                </p>
            </div>
            <div class="event-right">
                <div class="event-pic">
                    <img src="images/selfie_ehkskursii.png" alt="">
                </div>
            </div>
      </div>
    </div>

    <div class="tabs-wrap">
        <div class="mbox">
            <ul class="el-tabs">
                <li class="tab">Все экскурсии</li>
                <li class="tab">Популярные</li>
                <li class="tab">Необычные</li>
                <li class="tab">Романтические</li>
                <li class="tab">Детские</li>
                <li class="tab">Бизнес стиль</li>
                <li class="tab">Тематические</li>
            </ul>
            <div class="tab-content">
                <div class="tab-item filter-tab-item all">
                    <div class="excursion-item romantic">
                        <div class="exc-text">
                            <div class="category">Популярные</div>
                            <div class="info">
                                <span class="time"><img src="../images/time-one.png" alt=""> 4 часа</span>
                                <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
                            </div>
                            <div class="info">
                                <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
                            </div>
                            <div class="info">
                                <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
                            </div>
                            <div class="info-details">
                                <a href="excursion_card.html">Узнать подробнее</a>
                            </div>
                        </div>
                        <div class="exc-photo"><img src="../images/excursion.png" alt=""></div>
                    </div>
                    <div class="excursion-item business">
                        <div class="exc-text">
                            <div class="category">Необычные</div>
                            <div class="info">
                                <span class="time"><img src="../images/time-one.png" alt=""> 4 часа</span>
                                <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
                            </div>
                            <div class="info">
                                <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
                            </div>
                            <div class="info">
                                <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
                            </div>
                            <div class="info-details">
                                <a href="excursion_card.html">Узнать подробнее</a>
                            </div>
                        </div>
                        <div class="exc-photo"><img src="../images/ehkskursii.png" alt=""></div>
                    </div>
                    <div class="excursion-item popular">
                        <div class="exc-text">
                            <div class="category">Романтические</div>
                            <div class="info">
                                <span class="time"><img src="../images/time-one.png" alt=""> 4 часа</span>
                                <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
                            </div>
                            <div class="info">
                                <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
                            </div>
                            <div class="info">
                                <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
                            </div>
                            <div class="info-details">
                                <a href="excursion_card.html">Узнать подробнее</a>
                            </div>
                        </div>
                        <div class="exc-photo"><img src="../images/ehkskursii.png" alt=""></div>
                    </div>
                    <div class="excursion-item tema">
                        <div class="exc-text">
                            <div class="category">Детские</div>
                            <div class="info">
                                <span class="time"><img src="../images/time-one.png" alt=""> 4 часа</span>
                                <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
                            </div>
                            <div class="info">
                                <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
                            </div>
                            <div class="info">
                                <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
                            </div>
                            <div class="info-details">
                                <a href="excursion_card.html">Узнать подробнее</a>
                            </div>
                        </div>
                        <div class="exc-photo"><img src="../images/ehkskursii.png" alt=""></div>
                    </div>
                    <div class="excursion-item unusual">
                        <div class="exc-text">
                            <div class="category">Бизнес стиль</div>
                            <div class="info">
                                <span class="time"><img src="../images/time-one.png" alt=""> 4 часа</span>
                                <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
                            </div>
                            <div class="info">
                                <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
                            </div>
                            <div class="info">
                                <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
                            </div>
                            <div class="info-details">
                                <a href="excursion_card.html">Узнать подробнее</a>
                            </div>
                        </div>
                        <div class="exc-photo"><img src="../images/excursion.png" alt=""></div>
                    </div>
                    <div class="excursion-item romantic">
                        <div class="exc-text">
                            <div class="category">Тематические</div>
                            <div class="info">
                                <span class="time"><img src="../images/time-one.png" alt=""> 4 часа</span>
                                <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
                            </div>
                            <div class="info">
                                <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
                            </div>
                            <div class="info">
                                <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
                            </div>
                            <div class="info-details">
                                <a href="excursion_card.html">Узнать подробнее</a>
                            </div>
                        </div>
                        <div class="exc-photo"><img src="../images/ehkskursii.png" alt=""></div>
                    </div>
                    <div class="excursion-item popular">
                        <div class="exc-text">
                            <div class="category">Популярные</div>
                            <div class="info">
                                <span class="time"><img src="../images/time-one.png" alt=""> 4 часа</span>
                                <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
                            </div>
                            <div class="info">
                                <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
                            </div>
                            <div class="info">
                                <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
                            </div>
                            <div class="info-details">
                                <a href="excursion_card.html">Узнать подробнее</a>
                            </div>
                        </div>
                        <div class="exc-photo"><img src="../images/ehkskursii.png" alt=""></div>
                    </div>
                    <div class="excursion-item children">
                        <div class="exc-text">
                            <div class="category">Популярные</div>
                            <div class="info">
                                <span class="time"><img src="../images/time-one.png" alt=""> 4 часа</span>
                                <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
                            </div>
                            <div class="info">
                                <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
                            </div>
                            <div class="info">
                                <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
                            </div>
                            <div class="info-details">
                                <a href="excursion_card.html">Узнать подробнее</a>
                            </div>
                        </div>
                        <div class="exc-photo"><img src="../images/ehkskursii.png" alt=""></div>
                    </div>
                    <div class="excursion-item romantic">
                        <div class="exc-text">
                            <div class="category">Романтические</div>
                            <div class="info">
                                <span class="time"><img src="../images/time-one.png" alt=""> 4 часа</span>
                                <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
                            </div>
                            <div class="info">
                                <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
                            </div>
                            <div class="info">
                                <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
                            </div>
                            <div class="info-details">
                                <a href="excursion_card.html">Узнать подробнее</a>
                            </div>
                        </div>
                        <div class="exc-photo"><img src="../images/ehkskursii.png" alt=""></div>
                    </div>
                    <div class="excursion-item tema">
                        <div class="exc-text">
                            <div class="category">Десткие</div>
                            <div class="info">
                                <span class="time"><img src="../images/time-one.png" alt=""> 4 часа</span>
                                <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
                            </div>
                            <div class="info">
                                <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
                            </div>
                            <div class="info">
                                <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
                            </div>
                            <div class="info-details">
                                <a href="excursion_card.html">Узнать подробнее</a>
                            </div>
                        </div>
                        <div class="exc-photo"><img src="../images/ehkskursii.png" alt=""></div>
                    </div>
                </div>
                <div class="tab-item filter-tab-item" data-attr="popular"></div>
                <div class="tab-item filter-tab-item" data-attr="unusual"></div>
                <div class="tab-item filter-tab-item" data-attr="romantic"></div>
                <div class="tab-item filter-tab-item" data-attr="children"></div>
                <div class="tab-item filter-tab-item" data-attr="business"></div>
                <div class="tab-item filter-tab-item" data-attr="tema"></div>
            </div>
        </div>
    </div>
</div>