<section class="news">
  <div class="news-header">
    <div class="mbox">
      <div class="news-header-left">
        <span><b>8</b> июля</span>
        <h2>Новый роскошный Bentley Continental Flying Spur</h2>
        <p>В автопарке компании "Карсфоррент" появился новый автомобиль Люкс-класса роскошный Bentley Continental Flying Spur. Спешите заказать новинку по самым выгодным ценам только у нас!</p>
        <a class="el-button" href="news_shares_articles-inner.html">Узнать подробнее</a>
      </div>
    </div>
  </div>
  <div class="mbox">
    <div class="news-content">
      <div class="news-row">
        <a href="#" class="news-item">
          <div class="news-pic">
            <img src="images/news1.png" alt="">
          </div>
          <span><b>7</b> июля</span>
          <h3>Новые свадебные автобили в нашем автопарке</h3>
          <p>В автопарке компании "Карсфоррент" появился новый автомобиль Люкс-класса роскошный Bentley Continental Flying Spur. Спешите заказать новинку по самым выгодным ценам только у нас!</p>
        </a>
        <a href="#" class="news-item">
          <div class="news-pic">
            <img src="images/news2.png" alt="">
          </div>
          <span><b>6</b> июля</span>
          <h3>Новые свадебные автобили в нашем автопарке</h3>
          <p>В автопарке компании "Карсфоррент" появился новый автомобиль Люкс-класса роскошный Bentley Continental Flying Spur. Спешите заказать новинку по самым выгодным ценам только у нас!</p>
        </a>
        <a href="#" class="news-item">
          <div class="news-pic">
            <img src="images/news3.png" alt="">
          </div>
          <span><b>5</b> июля</span>
          <h3>Новые свадебные автобили в нашем автопарке</h3>
          <p>В автопарке компании "Карсфоррент" появился новый автомобиль Люкс-класса роскошный Bentley Continental Flying Spur. Спешите заказать новинку по самым выгодным ценам только у нас!</p>
        </a>
        <a href="#" class="news-item">
          <div class="news-pic">
            <img src="images/news4.png" alt="">
          </div>
          <span><b>4</b> июля</span>
          <h3>Новые свадебные автобили в нашем автопарке</h3>
          <p>В автопарке компании "Карсфоррент" появился новый автомобиль Люкс-класса роскошный Bentley Continental Flying Spur. Спешите заказать новинку по самым выгодным ценам только у нас!</p>
        </a>
        <a href="#" class="news-item">
          <div class="news-pic">
            <img src="images/news1.png" alt="">
          </div>
          <span><b>3</b> июля</span>
          <h3>Новые свадебные автобили в нашем автопарке</h3>
          <p>В автопарке компании "Карсфоррент" появился новый автомобиль Люкс-класса роскошный Bentley Continental Flying Spur. Спешите заказать новинку по самым выгодным ценам только у нас!</p>
        </a>
        <a href="#" class="news-item">
          <div class="news-pic">
            <img src="images/news2.png" alt="">
          </div>
          <span><b>2</b> июля</span>
          <h3>Новые свадебные автобили в нашем автопарке</h3>
          <p>В автопарке компании "Карсфоррент" появился новый автомобиль Люкс-класса роскошный Bentley Continental Flying Spur. Спешите заказать новинку по самым выгодным ценам только у нас!</p>
        </a>
        <a href="#" class="news-item">
          <div class="news-pic">
            <img src="images/news3.png" alt="">
          </div>
          <span><b>1</b> июля</span>
          <h3>Новые свадебные автобили в нашем автопарке</h3>
          <p>В автопарке компании "Карсфоррент" появился новый автомобиль Люкс-класса роскошный Bentley Continental Flying Spur. Спешите заказать новинку по самым выгодным ценам только у нас!</p>
        </a>
        <a href="#" class="news-item">
          <div class="news-pic">
            <img src="images/news4.png" alt="">
          </div>
          <span><b>1</b> июля</span>
          <h3>Новые свадебные автобили в нашем автопарке</h3>
          <p>В автопарке компании "Карсфоррент" появился новый автомобиль Люкс-класса роскошный Bentley Continental Flying Spur. Спешите заказать новинку по самым выгодным ценам только у нас!</p>
        </a>
      </div>
    </div>
    <div class="news-pagination">
      <ul>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
      </ul>
    </div>
  </div>
</section>