<section class="mbox wrap-rent-header">
	<h1 class="rent-title">Оперативный лизинг в <br>Санкт-Петербурге</h1>
	<p>При аренде автомобиля на длительный срок,вы выбираете автомобиль любой марки и комплектации, от Skoda до Bentley – и мы покупаем его для Вас в течении двух недель с момента обращения.</p>
	<a href="#" class="el-button">Выбрать автомобиль</a>
	<div class="operation-lising-pic">
		<img src="../images/leasing.png" alt="">
		<a class="mouse" href="#">
	      <span class="dot"></span>
	    </a>
   </div>
</section>
<section class="mbox why-rent">
	<h2 class="rent-title">Условия и преимущества оперативного лизинга</h2>
	<div class="wrap-adventages leasing-advantages">
		<div class="item">
			<img src="../images/1.png" alt="">
			<p>Аренда на срок не менее 1 года</p>
		</div>
		<div class="item">
			<img src="../images/2.png" alt="">
			<p>Залог 10-15% от стоимости автомобиля</p>
		</div>
		<div class="item">
			<img src="../images/3.png" alt="">
			<p>Стоимость аренды на 30-50% меньше</p>
		</div>
		<div class="item">
			<img src="../images/4.png" alt="">
			<p>Вы не платите никаких налогов</p>
		</div>
		<div class="item">
			<img src="../images/5.png" alt="">
			<p>ТО за наш счет</p>
		</div>
		<div class="item">
			<img src="../images/6.png" alt="">
			<p>КАСКО/ОСАГО за наш счет</p>
		</div>
		<div class="item">
			<img src="../images/7.png" alt="">
			<p>Зимняя резина за наш счет</p>
		</div>
		<div class="item">
			<img src="../images/8.png" alt="">
			<p>Замена авто на время ремонта</p>
		</div>
	</div>
	<a href="#" class="el-button">Выбрать автомобиль</a>
</section>
<section class="mbox why-rent no-bg">
	<h2 class="rent-title">Почему это удобно?</h2>
	<div class="wrap-adventages leasing-advantages">
		<div class="item">
			<img src="../images/car.png" alt="">
			<p>Мы можем купить для Вас любой автомобиль по вашему желанию любой марки и комплектации</p>
		</div>
		<div class="item">
			<img src="../images/zamena.png" alt="">
			<p>Вы можете выбрать любой автомобиль из парка и поменять на другой в течении срока аренды</p>
		</div>
		<div class="item">
			<img src="../images/time.png" alt="">
			<p>Вы выбираете любой срок аренды от 1 года до 3 лет</p>
		</div>
		<div class="item">
			<img src="../images/kasko.png" alt="">
			<p>Залоговая стоимость возвращается сразу после окончания срока аренды</p>
		</div>
	</div>
	<a href="#" class="el-button">Выбрать автомобиль</a>
</section>
<section class="mbox el-calc-tabs">
	<div class="calc-title">Калькулятор</div>
	<div class="wrap-tabs">
		<ul class="tabs">
			<li class="active"><a href="#">1. Выбор марки</a></li>
			<li><a href="#">2. Выбор модели</a></li>
			<li><a href="#">3. Модификация</a></li>
			<li><a href="#">4. Выбор условий</a></li>
			<li><a href="#">5. Заявка</a></li>
		</ul>
		<div class="tab-content">
			<div class="content custom-info">
				<div class="left-tab-bar">
					<div class="marka">
						<p>Выбор марки</p>
						<select name="marka" class="mark choose choose-ph" data-placeholder="Выберите марку">
							<option></option>
							<option>Marka 1</option>
							<option>Marka 2</option>
							<option>Marka 3</option>
						</select>
					</div>
				</div>
				<div class="right-tab-bar">
					<div class="image-cars"><img src="../images/autos.png" alt=""></div>
				</div>
			</div>
			<div class="content car-model">
				<div class="car-item">
					<div class="photo"><img src="../images/bmw316.png" alt=""></div>
					<p>Bmw 316i</p>
				</div>
				<div class="car-item">
					<div class="photo"><img src="../images/bmw116.png" alt=""></div>
					<p>Bmw 116i</p>
				</div>
				<div class="car-item">
					<div class="photo"><img src="../images/bmw520.png" alt=""></div>
					<p>Bmw 520</p>
				</div>
				<div class="car-item">
					<div class="photo"><img src="../images/bmw420.png" alt=""></div>
					<p>Bmw 420i</p>
				</div>
				<div class="car-item">
					<div class="photo"><img src="../images/bmw220.png" alt=""></div>
					<p>Bmw 220</p>
				</div>
				<div class="car-item">
					<div class="photo"><img src="../images/bmw4.png" alt=""></div>
					<p>Bmw 4</p>
				</div>
				<div class="car-item">
					<div class="photo"><img src="../images/bmw5.png" alt=""></div>
					<p>Bmw 5</p>
				</div>
				<div class="car-item">
					<div class="photo"><img src="../images/bmw55.png" alt=""></div>
					<p>Bmw 5</p>
				</div>
			</div>
			<div class="content car-model">
				<div class="car-item">
					<div class="photo"><img src="../images/bmw316.png" alt=""></div>
					<p>Bmw 316i АКПП</p>
				</div>
			</div>
			<div class="content custom-info">
				<div class="left-tab-bar big">
					<div class="about-car">
						<img src="../images/bmw316i.png" alt="">
						<div class="model">
							<b>Bmw 316i</b>, 
							<i>316</i>, 
							<strong>АКПП</strong>
						</div>
					</div>
				</div>
				<div class="right-tab-bar smaller">
					<div class="functional">
						<div class="func-title">Стоимость — 1 300 000 руб.</div>
						<div class="wrap-range">
							<div class="desc">Срок аренды</div>
							<div class="range">
								<p>
								  <input type="text" id="amount" readonly>
								  <label for="amount">месяц</label>
								</p>
								<div id="slider"></div>
								<div class="min-max">
									<div class="min">3 месяца</div>
									<div class="max">3 года</div>
								</div>
							</div>
						</div>
						<div class="preprice">Сумма залога — 75 000 руб.</div>
						<a href="#" class="el-button leave-btn">Оставить заявку</a>
					</div>
					<div class="information">
						<div class="main-price">
							<div class="title">Стоимость аренды в месяц</div>
							<div class="price"><span>86 988</span> руб.</div>
						</div>
						<div class="include">
							<div class="title">В стоимость входит</div>
							<p>КАСКО</p>
							<p>ОСАГО</p>
							<p>Замена резины</p>
							<p>Подменный авто</p>
							<p>Возможность поменять автомобиль</p>
						</div>
					</div>
				</div>
			</div>
			<div class="content custom-info">
				<div class="left-tab-bar big">
					<div class="about-car">
						<img src="../images/bmw316i.png" alt="">
						<div class="model">
							<b>Bmw 316i</b>, 
							<i>316</i>, 
							<strong>АКПП</strong>
						</div>
						<div class="model">
							Стоимость аренды в месяц — <span>86 988</span> руб.
						</div>
					</div>
				</div>
				<div class="right-tab-bar smaller">
					<div class="info">Наш менеджер перезвонит вам и ответит на все вопросы.</div>
					<form action="" class="calculator-form">
						<input type="text" placeholder="Ваше имя" class="input" required />
						<input type="text" placeholder="Ваш телефон" id="phone" class="input" required />
						<input type="submit" value="Отправить" class="el-button">
					</form>
				</div>
			</div>
		</div>
	</div>
</section>