<section class="photosession">
  <div class="mbox">
    <div class="el-info">
      <div class="info-left">
        <h2>Фотосессия в СПб</h2>
        <div class="el-info-text">
          <p>Самый долгожданный праздник в году именинник продумывает заранее. Для кого-то важно провести день рождения с близкими в уютной компании, а кто-то организует роскошный вечер для большого количества гостей. Концепция торжества может быть самой разнообразной, но есть уже ставший традиционным пункт программы – катание по городу на авто. Заказ машины на день рождения – услуга, которая теперь тоже своего рода традиция у многих петербуржцев и тех, кто решил встретить этот день в Петербурге.</p>
          <p>Для Вас на выбор любой авто на Юбилей – различные кабриолеты, ретро автомобили, просторные внедорожники или эксклюзивная машина на заказ определенного класса, также катера, яхты, вертолеты.</p>
        </div>
        <div class="el-table">
          <div class="link">
            <p>Таблица стоимости услуг</p>
            <span class="add">+</span>
          </div>
          <div class="wrap-table">
            <div class="table-header">
              <div class="column">Stolbec 1</div>
              <div class="column">Stolbec 2</div>
              <div class="column">Stolbec 3</div>
              <div class="column">Stolbec 4</div>
            </div>
            <div class="table-body">
              <div class="table-row">
                <div class="table-col">Infoooo</div>
                <div class="table-col">Info</div>
                <div class="table-col">Info</div>
                <div class="table-col">Info</div>
              </div>
              <div class="table-row">
                <div class="table-col">Infoooo</div>
                <div class="table-col">Info</div>
                <div class="table-col">Info</div>
                <div class="table-col">Info</div>
              </div>
              <div class="table-row">
                <div class="table-col">Infoooo</div>
                <div class="table-col">Info</div>
                <div class="table-col">Info</div>
                <div class="table-col">Info</div>
              </div>
              <div class="table-row">
                <div class="table-col">Infoooo</div>
                <div class="table-col">Info</div>
                <div class="table-col">Info</div>
                <div class="table-col">Info</div>
              </div>
              <div class="table-row">
                <div class="table-col">Infoooo</div>
                <div class="table-col">Info</div>
                <div class="table-col">Info</div>
                <div class="table-col">Info</div>
              </div>
            </div>
          </div>
        </div>
        <a class="el-button fancybox-form" href="#call-popup">Оформить заявку</a>
      </div>
      <div class="info-right">
        <div class="info-pic photosession-pic">
          <img src="images/camera_photo.png" alt="">
        </div>
      </div>
    </div> 
  </div> 
</section>