<section class="mbox wrap-conditions">
	<div class="cond-title">Условия аренды</div>
	<div class="wrap-tabs">
		<div id="first" class="btn first active">Основные положения</div>
	    <div id="second" class="btn second">Правила аренды</div>
	    <div id="third" class="btn third">Оплата</div>
	</div>
	<div class="wrap-content">
		<div class="content">
			<ul class="list">
				<li>- Заказ автомобилей с водителем может осуществляться минимум за 2 часа до начала поездки.</li>
				<li>- Минимальный заказ — 3 часа, плюс 1 час подачи.</li>
				<li>- Минимальный заказ на обслуживание свадебных мероприятий — 6+1 час.</li>
				<li>- Минимальный заказ на пассажирские перевозки автобусами: 4 часа + 1 час подачи.</li>
				<li>- Минимальный заказ автомобиля с водителем за пределами Санкт-Петербурга: 3 часа + 2 часа подачи.</li>
			</ul>
			<p>При аренде от 6-ти часов предоставляется скидка 5%, от 10-ти часов — скидка 10%;</p>
			<ul class="list">
				<li>- Загородной считается поездка, удаленная более чем на 20 км от границы   Санкт-Петербурга. Оплачивается по двойному тарифу.</li>
				<li>- Трансфер включает в себя 2 часа ожидания в аэропорту (на вокзале) и 1 час ожидания в гостинице.</li>
				<li>- Трансфер между аэропортом и населенным пунктом в Ленинградской области эквивалентен загородной поездке.</li>
			</ul>
	    </div>
	    <div class="content">
			<p>При аренде от 6-ти часов предоставляется скидка 5%, от 10-ти часов — скидка 10%;</p>
			<ul class="list">
				<li>- Загородной считается поездка, удаленная более чем на 20 км от границы   Санкт-Петербурга. Оплачивается по двойному тарифу.</li>
				<li>- Трансфер включает в себя 2 часа ожидания в аэропорту (на вокзале) и 1 час ожидания в гостинице.</li>
				<li>- Трансфер между аэропортом и населенным пунктом в Ленинградской области эквивалентен загородной поездке.</li>
			</ul>
	    </div>
	    <div class="content">
			<ul class="list">
				<li>- Заказ автомобилей с водителем может осуществляться минимум за 2 часа до начала поездки.</li>
				<li>- Минимальный заказ — 3 часа, плюс 1 час подачи.</li>
				<li>- Минимальный заказ на обслуживание свадебных мероприятий — 6+1 час.</li>
				<li>- Минимальный заказ на пассажирские перевозки автобусами: 4 часа + 1 час подачи.</li>
				<li>- Минимальный заказ автомобиля с водителем за пределами Санкт-Петербурга: 3 часа + 2 часа подачи.</li>
			</ul>
			<ul class="list">
				<li>- Загородной считается поездка, удаленная более чем на 20 км от границы   Санкт-Петербурга. Оплачивается по двойному тарифу.</li>
				<li>- Трансфер включает в себя 2 часа ожидания в аэропорту (на вокзале) и 1 час ожидания в гостинице.</li>
				<li>- Трансфер между аэропортом и населенным пунктом в Ленинградской области эквивалентен загородной поездке.</li>
			</ul>
	    </div>
	</div>
</section>