<section class="romantic-meetings js-tab">
  <div class="mbox">
    <div class="el-info">
      <div class="info-left">
        <h2>Романтические встречи</h2>
        <div class="el-info-text">
          <p>Аренда автомобиля в Санкт-Петербурге с нами значительно упрощается, ведь авто можно забронировать онлайн, открыв соответствующую вкладку на сайте. Вам будет предложено выбрать категорию услуги (с водителем или без, кабриолет, лимузин, микроавтобус), дату, имя и е-мейл. В графе «Ваши пожелания» вы можете оставить информацию об особенностях заказа.</p>
          <p>Вы можете рассчитать предварительно заказ на специальном онлайн калькуляторе, выбрав вид аренды (с водителем или без него), модель авто и сроки аренды посуточно.</p>
          <p>Вы можете рассчитать предварительно заказ на специальном онлайн калькуляторе, выбрав вид аренды (с водителем или без него), модель авто и сроки аренды посуточно.</p>
        </div>
      </div>
      <div class="info-right">
        <div class="info-pic romantic-pic">
          <img src="images/romantic-girl.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="tabs-wrap">
    <div class="mbox">
      <ul class="el-tabs">
          <li class="tab">Все свидания</li>
          <li class="tab">Зимние</li>
          <li class="tab">Летние</li>     
          <li class="tab">Предложение руки и сердца</li>
          <li class="tab">Признания в любви</li>
          <li class="tab">Экстримальные</li>
      </ul>
      <div class="tab-content">
        <div class="tab-item filter-tab-item all">
          <div class="excursion-item winter">
            <div class="exc-text">
              <div class="category">Зимние</div>
              <div class="info">
                <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
              </div>
              <div class="info">
                <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
              </div>
              <div class="info">
                <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
              </div>
              <div class="info-details">
                <a href="romantic_card.html">Узнать подробнее</a>
              </div>
            </div>
            <div class="exc-photo"><img src="../images/excursion.png" alt=""></div>
          </div>
          <div class="excursion-item summer">
            <div class="exc-text">
              <div class="category">Летние</div>
              <div class="info">
                <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
              </div>
              <div class="info">
                <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
              </div>
              <div class="info">
                <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
              </div>
              <div class="info-details">
                <a href="romantic_card.html">Узнать подробнее</a>
              </div>
            </div>
            <div class="exc-photo"><img src="../images/excursion.png" alt=""></div>
          </div>
          <div class="excursion-item marriage">
            <div class="exc-text">
              <div class="category">Предложение руки и сердца</div>
              <div class="info">
                <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
              </div>
              <div class="info">
                <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
              </div>
              <div class="info">
                <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
              </div>
              <div class="info-details">
                <a href="romantic_card.html">Узнать подробнее</a>
              </div>
            </div>
            <div class="exc-photo"><img src="../images/excursion.png" alt=""></div>
          </div>
          <div class="excursion-item love">
            <div class="exc-text">
              <div class="category">Признания в любви</div>
              <div class="info">
                <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
              </div>
              <div class="info">
                <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
              </div>
              <div class="info">
                <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
              </div>
              <div class="info-details">
                <a href="romantic_card.html">Узнать подробнее</a>
              </div>
            </div>
            <div class="exc-photo"><img src="../images/excursion.png" alt=""></div>
          </div>
          <div class="excursion-item extreme">
            <div class="exc-text">
              <div class="category">Экстримальные</div>
              <div class="info">
                <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
              </div>
              <div class="info">
                <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
              </div>
              <div class="info">
                <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
              </div>
              <div class="info-details">
                <a href="romantic_card.html">Узнать подробнее</a>
              </div>
            </div>
            <div class="exc-photo"><img src="../images/excursion.png" alt=""></div>
          </div>
        </div>
        <div class="tab-item filter-tab-item" data-attr="winter"></div>
        <div class="tab-item filter-tab-item" data-attr="summer"></div>
        <div class="tab-item filter-tab-item" data-attr="marriage"></div>
        <div class="tab-item filter-tab-item" data-attr="love"></div>
        <div class="tab-item filter-tab-item" data-attr="extreme"></div>
      </div>
    </div>
  </div>
</section>