<section class="mbox wrap-slider-card">
  <div class="slider-card">
    <div class="big-photos">
      <div class="photo"><img src="../images/romantic-slide1.jpg" alt=""></div>
      <div class="photo"><img src="../images/moskow.png" alt=""></div>
      <div class="photo"><img src="../images/romantic-slide1.jpg" alt=""></div>
      <div class="photo"><img src="../images/romantic-slide1.jpg" alt=""></div>
      <div class="photo"><img src="../images/romantic-slide1.jpg" alt=""></div>
    </div>
    <div class="small-photos">
      <div class="sm-photo"><img src="../images/romantic-slide1.jpg" alt=""></div>
      <div class="sm-photo"><img src="../images/moskow.png" alt=""></div>
      <div class="sm-photo"><img src="../images/romantic-slide1.jpg" alt=""></div>
      <div class="sm-photo"><img src="../images/romantic-slide1.jpg" alt=""></div>
      <div class="sm-photo"><img src="../images/romantic-slide1.jpg" alt=""></div>
    </div>
  </div>
  <div class="right-card">
    <div class="card-title">Романтическая ночь на яхте</div>
    <div class="about">
      <span><img src="../images/money_cart.png" alt=""></span>
      <span>от 23 000 руб.</span>
    </div>
    <div class="about">
      <span><img src="../images/time_cart.png" alt=""></span>
      <span>от 1 часа</span>
    </div>
    <a class="el-button" href="order_romantic.html">Заказать</a>
    <div class="ask">
      <a class="fancybox-form" href="#call-popup">
        <span><img src="../images/support_cart.png" alt=""></span>
        <span>У меня есть вопрос. Заказать обратный звонок.</span>
      </a>
    </div>
  </div>
</section>

<section class="mbox wrapper-details">
  <div class="details">
    <p>Подробное описание свидания</p>
    <a href="#"><img src="../images/plus.png" alt=""></a>
  </div>
  <div class="equipment-hidden">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dicta beatae dolores fugit ratione nisi, quis pariatur minus temporibus in accusamus rerum minima mollitia, ad cupiditate deleniti ut odit ipsa. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium omnis doloribus modi fuga, necessitatibus deserunt obcaecati consequatur, assumenda. Maiores commodi consequatur minima velit necessitatibus autem ex iusto doloribus, a quas.
  </div>
  <div class="tariffs">
    <div class="tarif-title">Доступные тарифы при оформлении свидания:</div>
    <div class="available-tariffs">
      <div class="tar-item">
        <div class="title">Тариф «Sweet»</div>
        <div class="price">
          <p><b>25 650</b><i>&#8381;</i></p>
        </div>
        <div class="desc">Тариф действует с ПН по ПТ</div>
        <div class="desc">Услуги повара</div>
        <div class="desc">Услуги водителя</div>
        <div class="desc">Что оплачивается дополнительно?</div>
        <div class="prompt-hidden">
          <div class="prompt-title">Бесплатная подача в аэропорту или на Московском вокзале</div>
          <p>Бесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзале</p>
        </div>
      </div>
      <div class="tar-item">
        <div class="title">Тариф «Sweet»</div>
        <div class="price">
          <p><b>25 650</b><i>&#8381;</i></p>
        </div>
        <div class="desc">Тариф действует с СБ по ВСК</div>
        <div class="desc">Услуги повара</div>
        <div class="desc">Услуги водителя</div>
        <div class="desc">Что оплачивается дополнительно?</div>
        <div class="prompt-hidden">
          <div class="prompt-title">Бесплатная подача в аэропорту или на Московском вокзале</div>
          <p>Бесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзалеБесплатная подача в аэропорту или на Московском вокзале</p>
        </div>
      </div>
    </div>
<!--     <div class="el-tariffs">
      <div class="tarif-item">
        <p>Sweet</p>
        <div class="item">
          <div class="price">23 650 руб.
          <br>вск-чт.</div>
          <img src="../images/comfort.png" alt="">
          <div class="car"><a href="#">Описание тарифа</a></div>
        </div>
      </div>
      <div class="tarif-item">
        <p>Sweet</p>
        <div class="item">
          <div class="price">23 000 руб.
          <br>пт-вск</div>
          <img src="../images/business.png" alt="">
          <div class="car"><a href="#">Описание тарифа</a></div>
        </div>
      </div>
    </div> -->
    <div class="tariffs-description">
      <div class="include">
        <p>Дополнительно вы можете заказать:</p>
        <ul>
          <li>- Пользование баром на яхте (за дополнительную плату);</li>
          <li>- Ужин на яхте от ресторана «Паруса» (депозит — 4000 руб.);</li>
          <li>- Полет на вертолете с вылетом и посадкой  в яхт клубе;</li>
          <li>- Трехчасовая прогулка на шикарном автомобиле на выбор</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="mbox wrap-recomend">
  <div class="recomend-title">Рекомендуем посмотреть эти экскурсии:</div>
  <div class="filter-tab-item">
    <div class="excursion-item">
        <div class="exc-text">
          <div class="info">
            <span class="time"><img src="../images/time-one.png" alt=""> 4 часа</span>
            <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
          </div>
          <div class="info">
            <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
          </div>
          <div class="info">
            <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
          </div>
          <div class="info-details">
            <a href="#">Узнать подробнее</a>
          </div>
        </div>
        <div class="exc-photo"><img src="../images/excursion.png" alt=""></div>
      </div>
      <div class="excursion-item">
        <div class="exc-text">
          <div class="info">
            <span class="time"><img src="../images/time-one.png" alt=""> 4 часа</span>
            <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
          </div>
          <div class="info">
            <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
          </div>
          <div class="info">
            <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
          </div>
          <div class="info-details">
            <a href="#">Узнать подробнее</a>
          </div>
        </div>
        <div class="exc-photo"><img src="../images/excursion.png" alt=""></div>
      </div>
      <div class="excursion-item">
        <div class="exc-text">
          <div class="info">
            <span class="time"><img src="../images/time-one.png" alt=""> 4 часа</span>
            <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
          </div>
          <div class="info">
            <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
          </div>
          <div class="info">
            <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
          </div>
          <div class="info-details">
            <a href="#">Узнать подробнее</a>
          </div>
        </div>
        <div class="exc-photo"><img src="../images/excursion.png" alt=""></div>
      </div>
      <div class="excursion-item">
        <div class="exc-text">
          <div class="info">
            <span class="time"><img src="../images/time-one.png" alt=""> 4 часа</span>
            <span class="time"><img src="../images/cost.png" alt=""> от 5 000 руб.</span>
          </div>
          <div class="info">
            <div class="info-title">Все самое лучшее в Петербурге за 4 часа.</div>
          </div>
          <div class="info">
            <div class="info-desc">Экспресс-экскурсионная программа, позволяющая за короткое время ознакомиться с самыми известными и популярными достопримечательностями Санкт-Петербурга.</div>
          </div>
          <div class="info-details">
            <a href="#">Узнать подробнее</a>
          </div>
        </div>
        <div class="exc-photo"><img src="../images/excursion.png" alt=""></div>
      </div>
    </div>
</section>
