<section class="seo-block">
  <div class="mbox">
    <div class="seo-wrap">
      <div class="seo-pic">
        <img src="images/seo.png" alt="">
      </div>
    <div class="seo-info">
      <h2>SEO-текст</h2>
      <p>Аренда автомобиля в Санкт-Петербурге с нами значительно упрощается, ведь авто можно забронировать онлайн, открыв соответствующую вкладку на сайте. Вам будет предложено выбрать категорию услуги (с водителем или без, кабриолет, лимузин, микроавтобус), дату, имя и е-мейл. В графе «Ваши пожелания» вы можете оставить информацию об особенностях заказа.</p>
      <p>Вы можете рассчитать предварительно заказ на специальном онлайн калькуляторе, выбрав вид аренды (с водителем или без него), модель авто и сроки аренды посуточно. Чем больше количество дней вам нужен автомобиль в аренду, тем больше вы экономите, хотя цена на аренду автомобиля у нас и так привлекательна. Также просим вас указать основные контакты для связи, включая номер телефона, все данные в безопасности.</p>
      <p>Получите скидку 5% на последующие услуги нашей компании сделав свое селфи на фоне нашего автомобиля и отправив на наш почтовый ящик!</p>
    </div>  
    </div>
  </div>
</section>