<div class="sort-bar">
	<div class="options">
		<a href="javascript:void(0)" class="filter" data-slider="wrap-slider">
			<span><img src="../images/filter.png" alt=""></span>
			<span>Фильтр</span>
		</a>
		<a href="javascript:void(0)" class="reset">
			<span><img src="../images/close-icon.png" alt=""></span>
			<span>Сбросить</span>
		</a>
	</div>
	<div class="sort">
		<ul class="dropdown-sorting">
		    <li>
		        <a href="javascript:void(0)" class="main-link">
		        	<p>Упорядочить по: <span>По умолчанию</span></p>
		        	<span class="arrow"></span>
		        </a>
		        <ul>
		        	<li><a href="#">
			            <p>По умолчанию</p>
			        </a></li>
		            <li><a href="#">
			            <p>Цене: сначала дешевые</p>
			        </a></li>
		            <li><a href="#">
		            	<p>Цене: сначала дорогие</p>
		            </a></li>
		        </ul>
		    </li>
		</ul>
		<a href="#" class="el-button">Показать спецпредложения</a>
	</div>
</div>