<section class="mbox third-step">
    <div class="headline">
        <div class="title">Оформление заказа</div>
        <div class="steps">
            <ul>
                <li>1. Информация</li>
                <li>2. Доп. опции</li>
                <li class="active">3. Подтверждение</li>
            </ul>
        </div>
    </div>
    <div class="wrap-confirm">
        <div class="conf-title conf-title-big">Подтверждение заказа аренды без водителя</div>
        <div class="car-info">
            <div class="car-photo"><img src="../images/bmw-white.png" alt=""></div>
            <div class="car-info-details">
                <div class="name">BMW 3er F30 — <span>красная</span></div>
                <div class="color">Цвет — красный <span class="red"></span></div>
                <div class="pluses">
                    <div class="item">
                        <img src="../images/people_cart.png" alt="">
                        <p>до 5</p>
                    </div>
                    <div class="item">
                        <img src="../images/oil2_cart.png" alt="">
                        <p>Дизель</p>
                    </div>
                    <div class="item">
                        <img src="../images/oil_cart.png" alt="">
                        <p>12л/100км</p>
                    </div>
                    <div class="item">
                        <img src="../images/engine_cart.png" alt="">
                        <p>172 л.с.</p>
                    </div>
                    <div class="item">
                        <img src="../images/transmission.png" alt="">
                        <p>АКПП</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap-confirm">
        <div class="conf-title">Действующий тариф</div>
        <div class="cur-tarif">
            <div class="tar-name">1-2 дня</div>
            <div class="tar-desc">
                <div class="price">2 600 руб. в день</div>
                <p>Бесплатная подача или возврат в аэропорту Пулково или на Московском вокзале с 9 до 21</p>
            </div>
        </div>
    </div>
    <div class="wrap-confirm">
        <div class="conf-title">Выберанное дополнительное оборудование</div>
        <div class="cur-tarif">
            <div class="tar-name">Детское кресло</div>
            <div class="tar-desc">
                <div class="price">260 руб. в день</div>
                <div class="pic"><img src="../images/child-chair.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="wrap-confirm">
        <div class="conf-title">Ограничение вашей ответственности</div>
        <div class="desc">Частично — 220 руб. в день</div>
    </div>
    <div class="wrap-confirm">
        <div class="conf-title">Покрытие повреждений стекол, фар и автошин</div>
        <div class="desc">Согласен — 170 руб. в день</div>
    </div>
    <div class="wrap-confirm special">
        <div class="conf-title">Выезды за область</div>
        <div class="desc">Выберанные зоны, в которые вы хотите выезжать обслуживания:</div>
        <div class="desc">Зона 2 — 150 руб. в день</div>
        <div class="desc">Зона 3 — 150 руб. в день</div>
    </div>
    <div class="end-price">Итоговая стоимость — <b>7 000</b> руб.</div>
    <button type="submit" class="el-button">Продолжить</button>
</section>