<section class="mbox big-slider">
	<div class="wrap-icons">
		<div class="transport-title">Выберите нужный вам транспорт</div>
		<div class="slider-nav">
			<div class="slide">
				<div class="icon"><img src="../images/s-voditelem.png" alt=""></div>
				<p>С водителем</p>
			</div>
			<div class="slide">
				<div class="icon"><img src="../images/bez-voditela.png" alt=""></div>
				<p>Без водителя</p>
			</div>
			<div class="slide">
				<div class="icon"><img src="../images/vertoloty.png" alt=""></div>
				<p>Вертолеты</p>
			</div>
			<div class="slide">
				<div class="icon"><img src="../images/kater.png" alt=""></div>
				<p>Катера и яхты</p>
			</div>
			<div class="slide">
				<div class="icon"><img src="../images/avia.png" alt=""></div>
				<p>Бизнес авиация</p>
			</div>
		</div>
	</div>
	<div class="wrap-navigation">
		<div class="slider-for">
			<div class="slide">
				<div class="transport-title">Наши автомобили с водителями</div>
				<div class="slide-desc">Компания «PROFARENDA» сдает в аренду легковые автомобили всех видов, предлагая выгодное решение в организации передвижения на случай временного отсутствия личного или корпоративного автотранспорта. Аренда автомобиля с водителем в Санкт-Петербурге весьма востребована и наша компания рада предложить вам аренду автомобиля на самом высоком и профессиональном уровне. Мы дорожим  своей репутацией  и как поставщик услуги по аренде авто, вас не подведем.</div>
				<div class="buttons">
					<a href="#" class="el-button">Выбрать автомобиль с водителем</a>
					<a href="#" class="price"><span><img src="../images/calculatorr.png" alt=""></span>Рассчитать стоимость аренды</a>
				</div>
				<img src="../images/s voditelem_slide.png" alt="">
			</div>
			<div class="slide">
				<div class="transport-title">Наши автомобили без водителя</div>
				<div class="slide-desc">Компания «PROFARENDA» сдает в аренду легковые автомобили всех видов, предлагая выгодное решение в организации передвижения на случай временного отсутствия личного или корпоративного автотранспорта. Аренда автомобиля с водителем в Санкт-Петербурге весьма востребована и наша компания рада предложить вам аренду автомобиля на самом высоком и профессиональном уровне. Мы дорожим  своей репутацией  и как поставщик услуги по аренде авто, вас не подведем.</div>
				<div class="buttons">
					<a href="#" class="el-button">Выбрать автомобиль без водителя</a>
					<a href="#" class="price"><span><img src="../images/calculatorr.png" alt=""></span>Рассчитать стоимость аренды</a>
				</div>
				<img src="../images/bez voditelya.png" alt="">
			</div>
			<div class="slide">
				<div class="transport-title">Наши вертолеты</div>
				<div class="slide-desc">Компания «PROFARENDA» сдает в аренду легковые автомобили всех видов, предлагая выгодное решение в организации передвижения на случай временного отсутствия личного или корпоративного автотранспорта. Аренда автомобиля с водителем в Санкт-Петербурге весьма востребована и наша компания рада предложить вам аренду автомобиля на самом высоком и профессиональном уровне. Мы дорожим  своей репутацией  и как поставщик услуги по аренде авто, вас не подведем.</div>
				<div class="buttons">
					<a href="#" class="el-button">Выбрать вертолет</a>
					<a href="#" class="price"><span><img src="../images/calculatorr.png" alt=""></span>Рассчитать стоимость аренды</a>
				</div>
				<img src="../images/helicopter_slide.png" alt="">
			</div>
			<div class="slide">
				<div class="transport-title">Наши катера и яхты</div>
				<div class="slide-desc">Компания «PROFARENDA» сдает в аренду легковые автомобили всех видов, предлагая выгодное решение в организации передвижения на случай временного отсутствия личного или корпоративного автотранспорта. Аренда автомобиля с водителем в Санкт-Петербурге весьма востребована и наша компания рада предложить вам аренду автомобиля на самом высоком и профессиональном уровне. Мы дорожим  своей репутацией  и как поставщик услуги по аренде авто, вас не подведем.</div>
				<div class="buttons">
					<a href="#" class="el-button">Выбрать катер или яхту</a>
					<a href="#" class="price"><span><img src="../images/calculatorr.png" alt=""></span>Рассчитать стоимость аренды</a>
				</div>
				<img src="../images/catera_slide.png" alt="">
			</div>
			<div class="slide">
				<div class="transport-title">Наши бизнес авиация</div>
				<div class="slide-desc">Компания «PROFARENDA» сдает в аренду легковые автомобили всех видов, предлагая выгодное решение в организации передвижения на случай временного отсутствия личного или корпоративного автотранспорта. Аренда автомобиля с водителем в Санкт-Петербурге весьма востребована и наша компания рада предложить вам аренду автомобиля на самом высоком и профессиональном уровне. Мы дорожим  своей репутацией  и как поставщик услуги по аренде авто, вас не подведем.</div>
				<div class="buttons">
					<a href="#" class="el-button">Выбрать бизнес авиацию</a>
					<a href="#" class="price"><span><img src="../images/calculatorr.png" alt=""></span>Рассчитать стоимость аренды</a>
				</div>
				<img src="../images/jet_slide.png" alt="">
			</div>
		</div>
	</div>
</section>